<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.actual.infra.mapper.MtAssembleGroupActualMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.actual.domain.entity.MtAssembleGroupActual">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="ASSEMBLE_GROUP_ACTUAL_ID" property="assembleGroupActualId" jdbcType="VARCHAR"/>
        <result column="ASSEMBLE_GROUP_ID" property="assembleGroupId" jdbcType="VARCHAR"/>
        <result column="WORKCELL_ID" property="workcellId" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectByIdsCustom" resultMap="BaseResultMap">
        select *
        from mt_assemble_group_actual
        where TENANT_ID = ${tenantId}
        and ASSEMBLE_GROUP_ACTUAL_ID IN
        <foreach collection="assembleGroupActualIds" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="mySelect" resultMap="BaseResultMap">
        select t.*
        from mt_assemble_group_actual t
        where t.TENANT_ID = ${tenantId}
        <if test="dto.assembleGroupActualId != null">
            and t.ASSEMBLE_GROUP_ACTUAL_ID = #{dto.assembleGroupActualId}
        </if>
        <if test="dto.assembleGroupId != null">
            and t.ASSEMBLE_GROUP_ID = #{dto.assembleGroupId}
        </if>
        <if test="dto.workcellId != null">
            and t.WORKCELL_ID = #{dto.workcellId}
        </if>
    </select>
</mapper>