<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.actual.infra.mapper.MtEoComponentActualHisMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.actual.domain.entity.MtEoComponentActualHis">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="EO_COMPONENT_ACTUAL_HIS_ID" property="eoComponentActualHisId" jdbcType="VARCHAR"/>
        <result column="EO_COMPONENT_ACTUAL_ID" property="eoComponentActualId" jdbcType="VARCHAR"/>
        <result column="EO_ID" property="eoId" jdbcType="VARCHAR"/>
        <result column="MATERIAL_ID" property="materialId" jdbcType="VARCHAR"/>
        <result column="OPERATION_ID" property="operationId" jdbcType="VARCHAR"/>
        <result column="ASSEMBLE_QTY" property="assembleQty" jdbcType="DECIMAL"/>
        <result column="SCRAPPED_QTY" property="scrappedQty" jdbcType="DECIMAL"/>
        <result column="COMPONENT_TYPE" property="componentType" jdbcType="VARCHAR"/>
        <result column="BOM_COMPONENT_ID" property="bomComponentId" jdbcType="VARCHAR"/>
        <result column="BOM_ID" property="bomId" jdbcType="VARCHAR"/>
        <result column="ROUTER_STEP_ID" property="routerStepId" jdbcType="VARCHAR"/>
        <result column="ASSEMBLE_EXCESS_FLAG" property="assembleExcessFlag" jdbcType="VARCHAR"/>
        <result column="ASSEMBLE_ROUTER_TYPE" property="assembleRouterType" jdbcType="VARCHAR"/>
        <result column="SUBSTITUTE_FLAG" property="substituteFlag" jdbcType="VARCHAR"/>
        <result column="ACTUAL_FIRST_TIME" property="actualFirstTime" jdbcType="TIMESTAMP"/>
        <result column="ACTUAL_LAST_TIME" property="actualLastTime" jdbcType="TIMESTAMP"/>
        <result column="EVENT_ID" property="eventId" jdbcType="VARCHAR"/>
        <result column="TRX_ASSEMBLE_QTY" property="trxAssembleQty" jdbcType="DECIMAL"/>
        <result column="TRX_SCRAPPED_QTY" property="trxScrappedQty" jdbcType="DECIMAL"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryEoComponentHis" resultMap="BaseResultMap">
        SELECT t.*
        FROM mt_eo_component_actual_his t
        WHERE t.TENANT_ID = ${tenantId}
        <if test="dto.eoComponentActualId!=null">
            and t.EO_COMPONENT_ACTUAL_ID = #{dto.eoComponentActualId}
        </if>
        <if test="dto.eventId!=null">
            and t.EVENT_ID = #{dto.eventId}
        </if>
        ORDER BY t.EVENT_ID+0
    </select>

    <select id="selectByEventIds" resultMap="BaseResultMap">
        SELECT *
        from mt_eo_component_actual_his t
        WHERE t.TENANT_ID = ${tenantId}
        AND t.EVENT_ID IN
        <foreach collection="eventIds" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>