<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.actual.infra.mapper.MtEoActualMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.actual.domain.entity.MtEoActual">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="EO_ACTUAL_ID" property="eoActualId" jdbcType="VARCHAR"/>
        <result column="EO_ID" property="eoId" jdbcType="VARCHAR"/>
        <result column="ACTUAL_START_TIME" property="actualStartTime" jdbcType="TIMESTAMP"/>
        <result column="ACTUAL_END_TIME" property="actualEndTime" jdbcType="TIMESTAMP"/>
        <result column="COMPLETED_QTY" property="completedQty" jdbcType="DECIMAL"/>
        <result column="SCRAPPED_QTY" property="scrappedQty" jdbcType="DECIMAL"/>
        <result column="HOLD_QTY" property="holdQty" jdbcType="DECIMAL"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="propertyLimitEoActualPropertyQuery" resultMap="BaseResultMap">
        select
        t.*
        from mt_eo_actual t
        where t.TENANT_ID=${tenantId}
        <if test="vo.eoId != null">
            and t.EO_ID=${vo.eoId}
        </if>
        <if test="vo.eoActualId != null">
            and t.EO_ACTUAL_ID=${vo.eoActualId}
        </if>
        <if test="vo.actualStartDateFrom != null">
            and t.ACTUAL_START_TIME &gt;= DATE_FORMAT(#{vo.actualStartDateFrom},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="vo.actualStartDateTo != null">
            AND t.ACTUAL_START_TIME &lt;= DATE_FORMAT(#{vo.actualStartDateTo},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="vo.actualEndDateFrom != null">
            AND t.ACTUAL_END_TIME &gt;=DATE_FORMAT(#{vo.actualEndDateFrom},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="vo.actualEndDateTo != null">
            AND t.ACTUAL_END_TIME &gt;=DATE_FORMAT(#{vo.actualEndDateTo},'%Y-%m-%d %H:%i:%S')
        </if>
    </select>
    <select id="eoActualBatchGetByActualIds" resultMap="BaseResultMap">
        select t.*
        from mt_eo_actual t
        where t.TENANT_ID=${tenantId}
        <if test="eoActualIds != null and eoActualIds.size() != 0">
            and t.EO_ACTUAL_ID in
            <foreach collection="eoActualIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="eoActualBatchGetByEoIds" resultMap="BaseResultMap">
        select t.*
        from mt_eo_actual t
        where t.TENANT_ID=${tenantId}
        <if test="eoIds != null and eoIds.size() != 0">
            and t.EO_ID in
            <foreach collection="eoIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>