<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.actual.infra.mapper.MtNcRecordHisMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.actual.domain.entity.MtNcRecordHis">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="NC_RECORD_HIS_ID" property="ncRecordHisId" jdbcType="VARCHAR"/>
        <result column="NC_RECORD_ID" property="ncRecordId" jdbcType="VARCHAR"/>
        <result column="SITE_ID" property="siteId" jdbcType="VARCHAR"/>
        <result column="EO_ID" property="eoId" jdbcType="VARCHAR"/>
        <result column="PARENT_NC_RECORD_ID" property="parentNcRecordId" jdbcType="VARCHAR"/>
        <result column="USER_ID" property="userId" jdbcType="DECIMAL"/>
        <result column="SEQUENCE" property="sequence" jdbcType="DECIMAL"/>
        <result column="NC_INCIDENT_ID" property="ncIncidentId" jdbcType="VARCHAR"/>
        <result column="DATE_TIME" property="dateTime" jdbcType="TIMESTAMP"/>
        <result column="QTY" property="qty" jdbcType="DECIMAL"/>
        <result column="DEFECT_COUNT" property="defectCount" jdbcType="DECIMAL"/>
        <result column="COMMENTS" property="comments" jdbcType="VARCHAR"/>
        <result column="NC_CODE_ID" property="ncCodeId" jdbcType="VARCHAR"/>
        <result column="NC_TYPE" property="ncType" jdbcType="VARCHAR"/>
        <result column="COMPONENT_MATERIAL_ID" property="componentMaterialId" jdbcType="VARCHAR"/>
        <result column="MATERIAL_LOT_ID" property="materialLotId" jdbcType="VARCHAR"/>
        <result column="REFERENCE_POINT" property="referencePoint" jdbcType="VARCHAR"/>
        <result column="EO_STEP_ACTUAL_ID" property="eoStepActualId" jdbcType="VARCHAR"/>
        <result column="ROUTER_ID" property="routerId" jdbcType="VARCHAR"/>
        <result column="OPERATION_ID" property="operationId" jdbcType="VARCHAR"/>
        <result column="ROOT_CAUSE_OPERATION_ID" property="rootCauseOperationId" jdbcType="VARCHAR"/>
        <result column="WORKCELL_ID" property="workcellId" jdbcType="VARCHAR"/>
        <result column="ROOT_CAUSE_WORKCELL_ID" property="rootCauseWorkcellId" jdbcType="VARCHAR"/>
        <result column="MATERIAL_ID" property="materialId" jdbcType="VARCHAR"/>
        <result column="NC_STATUS" property="ncStatus" jdbcType="VARCHAR"/>
        <result column="CONFIRMED_STATUS" property="confirmedStatus" jdbcType="VARCHAR"/>
        <result column="CONFIRMED_DATE_TIME" property="confirmedDateTime" jdbcType="TIMESTAMP"/>
        <result column="CLOSURE_REQUIRED_FLAG" property="closureRequiredFlag" jdbcType="VARCHAR"/>
        <result column="CLOSED_DATE_TIME" property="closedDateTime" jdbcType="TIMESTAMP"/>
        <result column="CLOSED_USER_ID" property="closedUserId" jdbcType="DECIMAL"/>
        <result column="DISPOSITION_DONE_FLAG" property="dispositionDoneFlag" jdbcType="VARCHAR"/>
        <result column="DISPOSITION_GROUP_ID" property="dispositionGroupId" jdbcType="VARCHAR"/>
        <result column="DISPOSITION_ROUTER_ID" property="dispositionRouterId" jdbcType="VARCHAR"/>
        <result column="EVENT_ID" property="eventId" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>