<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.inventory.infra.mapper.MtMaterialLotMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.inventory.domain.entity.MtMaterialLot">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="MATERIAL_LOT_ID" property="materialLotId" jdbcType="VARCHAR"/>
        <result column="MATERIAL_LOT_CODE" property="materialLotCode" jdbcType="VARCHAR"/>
        <result column="SITE_ID" property="siteId" jdbcType="VARCHAR"/>
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR"/>
        <result column="QUALITY_STATUS" property="qualityStatus" jdbcType="VARCHAR"/>
        <result column="MATERIAL_ID" property="materialId" jdbcType="VARCHAR"/>
        <result column="PRIMARY_UOM_ID" property="primaryUomId" jdbcType="VARCHAR"/>
        <result column="PRIMARY_UOM_QTY" property="primaryUomQty" jdbcType="DECIMAL"/>
        <result column="SECONDARY_UOM_ID" property="secondaryUomId" jdbcType="VARCHAR"/>
        <result column="SECONDARY_UOM_QTY" property="secondaryUomQty" jdbcType="DECIMAL"/>
        <result column="LOCATOR_ID" property="locatorId" jdbcType="VARCHAR"/>
        <result column="ASSEMBLE_POINT_ID" property="assemblePointId" jdbcType="VARCHAR"/>
        <result column="LOAD_TIME" property="loadTime" jdbcType="TIMESTAMP"/>
        <result column="UNLOAD_TIME" property="unloadTime" jdbcType="TIMESTAMP"/>
        <result column="OWNER_TYPE" property="ownerType" jdbcType="VARCHAR"/>
        <result column="OWNER_ID" property="ownerId" jdbcType="VARCHAR"/>
        <result column="LOT" property="lot" jdbcType="VARCHAR"/>
        <result column="OVEN_NUMBER" property="ovenNumber" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_ID" property="supplierId" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_SITE_ID" property="supplierSiteId" jdbcType="VARCHAR"/>
        <result column="CUSTOMER_ID" property="customerId" jdbcType="VARCHAR"/>
        <result column="CUSTOMER_SITE_ID" property="customerSiteId" jdbcType="VARCHAR"/>
        <result column="RESERVED_FLAG" property="reservedFlag" jdbcType="VARCHAR"/>
        <result column="RESERVED_OBJECT_TYPE" property="reservedObjectType" jdbcType="VARCHAR"/>
        <result column="RESERVED_OBJECT_ID" property="reservedObjectId" jdbcType="VARCHAR"/>
        <result column="CREATE_REASON" property="createReason" jdbcType="VARCHAR"/>
        <result column="IDENTIFICATION" property="identification" jdbcType="VARCHAR"/>
        <result column="EO_ID" property="eoId" jdbcType="VARCHAR"/>
        <result column="IN_LOCATOR_TIME" property="inLocatorTime" jdbcType="TIMESTAMP"/>
        <result column="FREEZE_FLAG" property="freezeFlag" jdbcType="VARCHAR"/>
        <result column="STOCKTAKE_FLAG" property="stocktakeFlag" jdbcType="VARCHAR"/>
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR"/>
        <result column="INSTRUCTION_ID" property="instructionId" jdbcType="VARCHAR"/>
        <result column="IN_SITE_TIME" property="inSiteTime" jdbcType="TIMESTAMP"/>
        <result column="CURRENT_CONTAINER_ID" property="currentContainerId" jdbcType="VARCHAR"/>
        <result column="TOP_CONTAINER_ID " property="topContainerId" jdbcType="VARCHAR"/>
        <result column="LATEST_HIS_ID" property="latestHisId" jdbcType="VARCHAR"/>
        <result column="INSTRUCTION_DOC_ID" property="instructionDocId" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="resultMapView1" type="tarzan.inventory.domain.vo.MtMaterialLotVO4">
        <result column="MATERIAL_ID" property="materialId" jdbcType="VARCHAR"/>
        <result column="PRIMARY_UOM_ID" property="primaryUomId" jdbcType="VARCHAR"/>
        <result column="PRIMARY_UOM_QTY" property="primaryUomQty" jdbcType="DECIMAL"/>
        <result column="SECONDARY_UOM_ID" property="secondaryUomId" jdbcType="VARCHAR"/>
        <result column="SECONDARY_UOM_QTY" property="secondaryUomQty" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="selectByMaterialLotId" resultMap="BaseResultMap">
        select * from MT_MATERIAL_LOT t
        where t.TENANT_ID = ${tenantId}
        AND t.MATERIAL_LOT_ID IN
        <foreach collection="materialLotIds" open="(" index="index" item="item" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectByMaterialLotIdForUpdate" resultMap="BaseResultMap">
        select * from MT_MATERIAL_LOT t
        where t.TENANT_ID = ${tenantId}
        AND t.MATERIAL_LOT_ID IN
        <foreach collection="materialLotIds" open="(" index="index" item="item" separator="," close=")">
            #{item}
        </foreach>
        FOR UPDATE
    </select>

    <select id="selectByPropertyLimit" resultMap="BaseResultMap">
        select * from MT_MATERIAL_LOT t
        where 1=1
        AND t.TENANT_ID = ${tenantId}
        <if test="dto.materialLotId!=null">
            and t.MATERIAL_LOT_ID=#{dto.materialLotId}
        </if>
        <if test="dto.materialLotCode!=null">
            and t.MATERIAL_LOT_CODE=#{dto.materialLotCode}
        </if>
        <if test="dto.siteId!=null">
            and t.SITE_ID=#{dto.siteId}
        </if>
        <if test="dto.enableFlag!=null">
            and t.ENABLE_FLAG=#{dto.enableFlag}
        </if>
        <if test="dto.qualityStatus!=null">
            and t.QUALITY_STATUS=#{dto.qualityStatus}
        </if>
        <if test="dto.materialId!=null">
            and t.MATERIAL_ID=#{dto.materialId}
        </if>
        <if test="dto.primaryUomId!=null">
            and t.PRIMARY_UOM_ID=#{dto.primaryUomId}
        </if>
        <if test="dto.secondaryUomId!=null">
            and t.SECONDARY_UOM_ID=#{dto.secondaryUomId}
        </if>
        <if test="dto.locatorId!=null">
            and t.LOCATOR_ID=#{dto.locatorId}
        </if>
        <if test="dto.assemblePointId!=null">
            and t.ASSEMBLE_POINT_ID=#{dto.assemblePointId}
        </if>
        <if test="dto.ownerType!=null">
            and t.OWNER_TYPE=#{dto.ownerType}
        </if>
        <if test="dto.ownerId!=null">
            and t.OWNER_ID=#{dto.ownerId}
        </if>
        <if test="dto.lot!=null">
            and t.LOT=#{dto.lot}
        </if>
        <if test="dto.ovenNumber!=null">
            and t.OVEN_NUMBER=#{dto.ovenNumber}
        </if>
        <if test="dto.supplierId!=null">
            and t.SUPPLIER_ID=#{dto.supplierId}
        </if>
        <if test="dto.supplierSiteId!=null">
            and t.SUPPLIER_SITE_ID=#{dto.supplierSiteId}
        </if>
        <if test="dto.customerId!=null">
            and t.CUSTOMER_ID=#{dto.customerId}
        </if>
        <if test="dto.customerSiteId!=null">
            and t.CUSTOMER_SITE_ID=#{dto.customerSiteId}
        </if>
        <if test="dto.reservedFlag!=null">
            and t.RESERVED_FLAG=#{dto.reservedFlag}
        </if>
        <if test="dto.reservedObjectType!=null">
            and t.RESERVED_OBJECT_TYPE=#{dto.reservedObjectType}
        </if>
        <if test="dto.reservedObjectId!=null">
            and t.RESERVED_OBJECT_ID=#{dto.reservedObjectId}
        </if>
        <if test="dto.createReason!=null">
            and t.CREATE_REASON=#{dto.createReason}
        </if>
        <if test="dto.identification!=null">
            and t.IDENTIFICATION=#{dto.identification}
        </if>
        <if test="dto.eoId!=null">
            and t.EO_ID=#{dto.eoId}
        </if>
        <if test="dto.loadTimeFrom!=null">
            and t.LOAD_TIME &gt;= DATE_FORMAT(#{dto.loadTimeFrom}, '%Y-%m-%d %H:%i:%S')
        </if>
        <if test="dto.loadTimeTo!=null">
            and t.LOAD_TIME &lt;= DATE_FORMAT(#{dto.loadTimeTo}, '%Y-%m-%d %H:%i:%S')
        </if>
        <if test="dto.unloadTimeFrom!=null">
            and t.UNLOAD_TIME &gt;= DATE_FORMAT(#{dto.unloadTimeFrom}, '%Y-%m-%d %H:%i:%S')
        </if>
        <if test="dto.unloadTimeTo!=null">
            and t.UNLOAD_TIME &lt;= DATE_FORMAT(#{dto.unloadTimeTo}, '%Y-%m-%d %H:%i:%S')
        </if>
        <if test="dto.freezeFlag != null">
            and t.FREEZE_FLAG = #{dto.freezeFlag}
        </if>
        <if test="dto.stocktakeFlag != null">
            and t.STOCKTAKE_FLAG = #{dto.stocktakeFlag}
        </if>
        <if test="dto.inLocatorTimeFrom!=null">
            and t.IN_LOCATOR_TIME &gt;= DATE_FORMAT(#{dto.inLocatorTimeFrom}, '%Y-%m-%d %H:%i:%S')
        </if>
        <if test="dto.inLocatorTimeTo!=null">
            and t.IN_LOCATOR_TIME &lt;= DATE_FORMAT(#{dto.inLocatorTimeTo}, '%Y-%m-%d %H:%i:%S')
        </if>
        <if test="dto.inSiteTimeFrom!=null">
            and t.IN_SITE_TIME &gt;= DATE_FORMAT(#{dto.inSiteTimeFrom}, '%Y-%m-%d %H:%i:%S')
        </if>
        <if test="dto.inSiteTimeTo!=null">
            and t.IN_SITE_TIME &lt;= DATE_FORMAT(#{dto.inSiteTimeTo}, '%Y-%m-%d %H:%i:%S')
        </if>
        <if test="dto.currentContainerId!=null">
            and t.CURRENT_CONTAINER_ID=#{dto.currentContainerId}
        </if>
        <if test="dto.topContainerId!=null">
            and t.TOP_CONTAINER_ID=#{dto.topContainerId}
        </if>
        <if test="dto.latestHisId!=null">
            and t.LATEST_HIS_ID=#{dto.latestHisId}
        </if>
        <if test="dto.instructionDocId!=null">
            and t.INSTRUCTION_DOC_ID=#{dto.instructionDocId}
        </if>
    </select>

    <select id="selectByMaterialLotCode" resultType="java.lang.Long">
      SELECT
        max(SUBSTR(t.MATERIAL_LOT_CODE,12)+0)
      FROM
        MT_MATERIAL_LOT t
      WHERE
        1 = 1
        AND t.TENANT_ID = ${tenantId}
        and LENGTH(SUBSTR(t.MATERIAL_LOT_CODE,12)) > 0
        and SUBSTR(t.MATERIAL_LOT_CODE,12) REGEXP '[^0-9]*$'
        and t.MATERIAL_LOT_CODE like CONCAT(#{materialLotCode},"%")
        order by SUBSTR(t.MATERIAL_LOT_CODE,12)+0 desc
    </select>

    <select id="selectLimitQty" resultMap="resultMapView1">
        select
        t.MATERIAL_ID,
        t.PRIMARY_UOM_ID,
        t.PRIMARY_UOM_QTY,
        t.SECONDARY_UOM_ID,
        t.SECONDARY_UOM_QTY
        from MT_MATERIAL_LOT t
        where 1=1
        AND t.TENANT_ID = ${tenantId}
        <if test="materialLotId!=null">
            and t.MATERIAL_LOT_ID=#{materialLotId}
        </if>
    </select>

    <select id="selectByMaterialLotCodes" resultType="java.lang.Long">
        select count(1)
        from MT_MATERIAL_LOT t
        where t.TENANT_ID = ${tenantId}
        AND t.MATERIAL_LOT_CODE IN
        <foreach collection="materialLotCodes" open="(" index="index" item="item" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectByIdentifications" resultType="java.lang.Long">
        select count(1)
        from MT_MATERIAL_LOT t
        where t.TENANT_ID = ${tenantId}
        AND t.IDENTIFICATION IN
        <foreach collection="identifications" open="(" index="index" item="item" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectCondition" resultType="tarzan.inventory.domain.vo.MtMaterialLotVO22">
        SELECT * FROM mt_material_lot tb
        WHERE tb.TENANT_ID = ${tenantId}
        <if test="dto.materialLotId != null">
            AND tb.MATERIAL_LOT_ID = #{dto.materialLotId}
        </if>
        <if test="dto.materialLotCode != null">
            AND tb.MATERIAL_LOT_CODE = #{dto.materialLotCode}
        </if>
        <if test="dto.siteId != null">
            AND tb.SITE_ID = #{dto.siteId}
        </if>
        <if test="dto.enableFlag != null">
            AND tb.ENABLE_FLAG = #{dto.enableFlag}
        </if>
        <if test="dto.qualityStatus != null">
            AND tb.QUALITY_STATUS = #{dto.qualityStatus}
        </if>
        <if test="dto.materialId != null">
            AND tb.MATERIAL_ID = #{dto.materialId}
        </if>
        <if test="dto.primaryUomId != null">
            AND tb.PRIMARY_UOM_ID = #{dto.primaryUomId}
        </if>
        <if test="dto.secondaryUomId != null">
            AND tb.SECONDARY_UOM_ID = #{dto.secondaryUomId}
        </if>
        <if test="dto.locatorId != null">
            AND tb.LOCATOR_ID = #{dto.locatorId}
        </if>
        <if test="dto.assemblePointId != null">
            AND tb.ASSEMBLE_POINT_ID = #{dto.assemblePointId}
        </if>
        <if test="dto.loadTimeFrom != null">
            AND tb.LOAD_TIME &gt;= DATE_FORMAT(#{dto.loadTimeFrom},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="dto.loadTimeTo != null">
            AND tb.LOAD_TIME &lt;= DATE_FORMAT(#{dto.loadTimeTo},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="dto.unloadTimeFrom != null">
            AND tb.UNLOAD_TIME &gt;= DATE_FORMAT(#{dto.unloadTimeFrom},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="dto.unloadTimeTo != null">
            AND tb.UNLOAD_TIME &lt;= DATE_FORMAT(#{dto.unloadTimeTo},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="dto.ownerType != null">
            AND tb.OWNER_TYPE = #{dto.ownerType}
        </if>
        <if test="dto.ownerId != null">
            AND tb.OWNER_ID = #{dto.ownerId}
        </if>
        <if test="dto.lot != null">
            AND tb.LOT = #{dto.lot}
        </if>
        <if test="dto.ovenNumber != null">
            AND tb.OVEN_NUMBER = #{dto.ovenNumber}
        </if>
        <if test="dto.supplierId != null">
            AND tb.SUPPLIER_ID = #{dto.supplierId}
        </if>
        <if test="dto.supplierSiteId != null">
            AND tb.SUPPLIER_SITE_ID = #{dto.supplierSiteId}
        </if>
        <if test="dto.customerId != null">
            AND tb.CUSTOMER_ID = #{dto.customerId}
        </if>
        <if test="dto.customerSiteId != null">
            AND tb.CUSTOMER_SITE_ID = #{dto.customerSiteId}
        </if>
        <if test="dto.reservedFlag != null">
            AND tb.RESERVED_FLAG = #{dto.reservedFlag}
        </if>
        <if test="dto.reservedObjectType != null">
            AND tb.RESERVED_OBJECT_TYPE = #{dto.reservedObjectType}
        </if>
        <if test="dto.reservedObjectId != null">
            AND tb.RESERVED_OBJECT_ID = #{dto.reservedObjectId}
        </if>
        <if test="dto.createReason != null">
            AND tb.CREATE_REASON = #{dto.createReason}
        </if>
        <if test="dto.identification != null">
            AND tb.IDENTIFICATION = #{dto.identification}
        </if>
        <if test="dto.eoId != null">
            AND tb.EO_ID = #{dto.eoId}
        </if>
        <if test="dto.inLocatorTimeFrom != null">
            AND tb.IN_LOCATOR_TIME &gt;= DATE_FORMAT(#{dto.inLocatorTimeFrom},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="dto.inLocatorTimeTo != null">
            AND tb.IN_LOCATOR_TIME &lt;= DATE_FORMAT(#{dto.inLocatorTimeTo},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="dto.freezeFlag != null">
            AND tb.FREEZE_FLAG = #{dto.freezeFlag}
        </if>
        <if test="dto.stocktakeFlag != null">
            AND tb.STOCKTAKE_FLAG = #{dto.stocktakeFlag}
        </if>
        <if test="dto.inSiteTimeFrom!=null">
            and tb.IN_SITE_TIME &gt;= DATE_FORMAT(#{dto.inSiteTimeFrom}, '%Y-%m-%d %H:%i:%S')
        </if>
        <if test="dto.inSiteTimeTo!=null">
            and tb.IN_SITE_TIME &lt;= DATE_FORMAT(#{dto.inSiteTimeTo}, '%Y-%m-%d %H:%i:%S')
        </if>
        <if test="dto.currentContainerId!=null">
            and tb.CURRENT_CONTAINER_ID=#{dto.currentContainerId}
        </if>
        <if test="dto.topContainerId!=null">
            and tb.TOP_CONTAINER_ID=#{dto.topContainerId}
        </if>
        <if test="dto.latestHisId!=null">
            and tb.LATEST_HIS_ID=#{dto.latestHisId}
        </if>
        <if test="dto.instructionDocId!=null">
            and tb.INSTRUCTION_DOC_ID=#{dto.instructionDocId}
        </if>
        order by tb.MATERIAL_LOT_ID+0
    </select>

    <select id="selectLotIdByTopContainerId" resultType="java.lang.String">
        select t.MATERIAL_LOT_ID
        from mt_material_lot t
        where t.TENANT_ID=${tenantId}
        <if test="topContainerId != null">
            and t.TOP_CONTAINER_ID=#{topContainerId}
        </if>
    </select>
    <select id="selectForMaterialLotCodes" resultMap="BaseResultMap">
        select * from MT_MATERIAL_LOT t
        where t.TENANT_ID = ${tenantId}
        AND t.MATERIAL_LOT_CODE IN
        <foreach collection="materialLotCodes" open="(" index="index" item="item" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="selectByTopContainerIds" resultMap="BaseResultMap">
        select * from MT_MATERIAL_LOT t
        where t.TENANT_ID = ${tenantId}
        AND t.TOP_CONTAINER_ID IN
        <foreach collection="topContainerIds" open="(" index="index" item="item" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectListByEoId" resultMap="BaseResultMap">
        select * from MT_MATERIAL_LOT t
        where t.TENANT_ID = #{tenantId}
        AND  EO_ID = #{eoId}
    </select>

    <select id="selectForUpdate" resultMap="BaseResultMap">
        select * from MT_MATERIAL_LOT t
        where t.TENANT_ID = #{tenantId}
        AND  MATERIAL_LOT_ID = #{materialLotId}
        FOR UPDATE
    </select>

    <select id="selectAttrValue" resultType="java.lang.String">
        SELECT
            mmla.ATTR_VALUE
        FROM
            mt_material_lot_attr mmla
        WHERE
            mmla.TENANT_ID = #{tenantId}
            AND mmla.MATERIAL_LOT_ID = #{materialLotId}
            AND mmla.ATTR_NAME = #{attrName}
    </select>

    <select id="selectLocator" resultType="com.ruike.wms.domain.vo.WmsSoTransferReturnVO">
        SELECT
            mml.MATERIAL_LOT_ID,
            mml.MATERIAL_LOT_CODE,
            mmlo.LOCATOR_CODE,
            mmlo.LOCATOR_TYPE
        FROM
            MT_MATERIAL_LOT mml
            LEFT JOIN MT_MOD_LOCATOR mmlo ON mml.LOCATOR_ID = mmlo.LOCATOR_ID
        WHERE
            mml.TENANT_ID = ${tenantId}
        AND mml.MATERIAL_LOT_ID IN
        <foreach collection="materialLotIdList" open="(" index="index" item="item" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>