<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.material.infra.mapper.MtPfepInventoryCategoryMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.material.domain.entity.MtPfepInventoryCategory">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="PFEP_INVENTORY_CATEGORY_ID" property="pfepInventoryCategoryId" jdbcType="VARCHAR"/>
        <result column="MATERIAL_CATEGORY_SITE_ID" property="materialCategorySiteId" jdbcType="VARCHAR"/>
        <result column="ORGANIZATION_TYPE" property="organizationType" jdbcType="VARCHAR"/>
        <result column="ORGANIZATION_ID" property="organizationId" jdbcType="VARCHAR"/>
        <result column="IDENTIFY_TYPE" property="identifyType" jdbcType="VARCHAR"/>
        <result column="IDENTIFY_ID" property="identifyId" jdbcType="VARCHAR"/>
        <result column="STOCK_LOCATOR_ID" property="stockLocatorId" jdbcType="VARCHAR"/>
        <result column="PACKAGE_LENGTH" property="packageLength" jdbcType="DECIMAL"/>
        <result column="PACKAGE_WIDTH" property="packageWidth" jdbcType="DECIMAL"/>
        <result column="PACKAGE_HEIGHT" property="packageHeight" jdbcType="DECIMAL"/>
        <result column="PACKAGE_SIZE_UOM_ID" property="packageSizeUomId" jdbcType="VARCHAR"/>
        <result column="PACKAGE_WEIGHT" property="packageWeight" jdbcType="DECIMAL"/>
        <result column="WEIGHT_UOM_ID" property="weightUomId" jdbcType="VARCHAR"/>
        <result column="MAX_STOCK_QTY" property="maxStockQty" jdbcType="DECIMAL"/>
        <result column="MIN_STOCK_QTY" property="minStockQty" jdbcType="DECIMAL"/>
        <result column="ISSUED_LOCATOR_ID" property="issuedLocatorId" jdbcType="VARCHAR"/>
        <result column="COMPLETION_LOCATOR_ID" property="completionLocatorId" jdbcType="VARCHAR"/>
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="UiVOMap" type="tarzan.material.domain.vo.MtPfepInventoryVO4">
        <result column="KID" property="kid" jdbcType="VARCHAR"/>
        <result column="KEY_TYPE" property="keyType" jdbcType="VARCHAR"/>
        <result column="MATERIAL_ID" property="materialId" jdbcType="VARCHAR"/>
        <result column="MATERIAL_CODE" property="materialCode" jdbcType="VARCHAR"/>
        <result column="MATERIAL_NAME" property="materialName" jdbcType="VARCHAR"/>
        <result column="MATERIAL_CATEGORY_ID" property="materialCategoryId" jdbcType="VARCHAR"/>
        <result column="MATERIAL_CATEGORY_SITE_ID" property="materialCategorySiteId" jdbcType="VARCHAR"/>
        <result column="CATEGORY_CODE" property="categoryCode" jdbcType="VARCHAR"/>
        <result column="CATEGORY_DESC" property="categoryDesc" jdbcType="VARCHAR"/>
        <result column="CATEGORY_SET_DESC" property="categorySetDesc" jdbcType="VARCHAR"/>
        <result column="SITE_ID" property="siteId" jdbcType="VARCHAR"/>
        <result column="SITE_CODE" property="siteCode" jdbcType="VARCHAR"/>
        <result column="SITE_NAME" property="siteName" jdbcType="VARCHAR"/>
        <result column="AREA_ID" property="areaId" jdbcType="VARCHAR"/>
        <result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR"/>
        <result column="AREA_NAME" property="areaName" jdbcType="VARCHAR"/>
        <result column="PROD_LINE_ID" property="prodLineId" jdbcType="VARCHAR"/>
        <result column="PROD_LINE_CODE" property="prodLineCode" jdbcType="VARCHAR"/>
        <result column="PROD_LINE_NAME" property="prodLineName" jdbcType="VARCHAR"/>
        <result column="WORKCELL_ID" property="workcellId" jdbcType="VARCHAR"/>
        <result column="WORKCELL_CODE" property="workcellCode" jdbcType="VARCHAR"/>
        <result column="WORKCELL_NAME" property="workcellName" jdbcType="VARCHAR"/>
        <result column="LOCATOR_ID" property="locatorId" jdbcType="VARCHAR"/>
        <result column="LOCATOR_CODE" property="locatorCode" jdbcType="VARCHAR"/>
        <result column="LOCATOR_NAME" property="locatorName" jdbcType="VARCHAR"/>
        <result column="IDENTIFY_TYPE" property="identifyType" jdbcType="VARCHAR"/>
        <result column="IDENTIFY_ID" property="identifyId" jdbcType="VARCHAR"/>
        <result column="PACKAGE_LENGTH" property="packageLength" jdbcType="DECIMAL"/>
        <result column="PACKAGE_WIDTH" property="packageWidth" jdbcType="DECIMAL"/>
        <result column="PACKAGE_HEIGHT" property="packageHeight" jdbcType="DECIMAL"/>
        <result column="PACKAGE_SIZE_UOM_ID" property="packageSizeUomId" jdbcType="VARCHAR"/>
        <result column="PACKAGE_SIZE_UOM_CODE" property="packageSizeUomCode" jdbcType="VARCHAR"/>
        <result column="PACKAGE_WEIGHT" property="packageWeight" jdbcType="DECIMAL"/>
        <result column="WEIGHT_UOM_ID" property="weightUomId" jdbcType="VARCHAR"/>
        <result column="WEIGHT_UOM_CODE" property="weightUomCode" jdbcType="VARCHAR"/>
        <result column="MAX_STOCK_QTY" property="maxStockQty" jdbcType="DECIMAL"/>
        <result column="MIN_STOCK_QTY" property="minStockQty" jdbcType="DECIMAL"/>
        <result column="STOCK_LOCATOR_ID" property="stockLocatorId" jdbcType="VARCHAR"/>
        <result column="STOCK_LOCATOR_CODE" property="stockLocatorCode" jdbcType="VARCHAR"/>
        <result column="STOCK_LOCATOR_NAME" property="stockLocatorName" jdbcType="VARCHAR"/>
        <result column="ISSUED_LOCATOR_ID" property="issuedLocatorId" jdbcType="VARCHAR"/>
        <result column="ISSUED_LOCATOR_CODE" property="issuedLocatorCode" jdbcType="VARCHAR"/>
        <result column="ISSUED_LOCATOR_NAME" property="issuedLocatorName" jdbcType="VARCHAR"/>
        <result column="COMPLETION_LOCATOR_ID" property="completionLocatorId" jdbcType="VARCHAR"/>
        <result column="COMPLETION_LOCATOR_CODE" property="completionLocatorCode" jdbcType="VARCHAR"/>
        <result column="COMPLETION_LOCATOR_NAME" property="completionLocatorName" jdbcType="VARCHAR"/>
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR"/>
        <result column="ORGANIZATION_TYPE" property="organizationType" jdbcType="VARCHAR"/>
        <result column="ORGANIZATION_ID" property="organizationId" jdbcType="VARCHAR"/>
        <result column="ORGANIZATION_CODE" property="organizationCode" jdbcType="VARCHAR"/>
        <result column="ORGANIZATION_DESC" property="organizationDesc" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="mySelectOne" resultMap="BaseResultMap">
        SELECT
        t.*
        FROM
        mt_pfep_inventory_category t
        WHERE
        t.TENANT_ID = ${tenantId}
        AND t.MATERIAL_CATEGORY_SITE_ID = #{dto.materialCategorySiteId}
        AND t.ORGANIZATION_ID = #{dto.organizationId}
        AND t.ORGANIZATION_TYPE = #{dto.organizationType}
        <if test="dto.enableFlag != null">
            AND t.ENABLE_FLAG = #{dto.enableFlag}
        </if>
    </select>

    <select id="mtPfepInventoryCategoryDetialQuery" resultMap="BaseResultMap">
        <bind name="locale" value="@org.hzero.core.helper.LanguageHelper@language()"/>
        SELECT
        mm.*
        FROM
        mt_pfep_inventory_category mm
        JOIN mt_material_category_site ms ON mm.MATERIAL_CATEGORY_SITE_ID = ms.MATERIAL_CATEGORY_SITE_ID
        JOIN mt_material_category m ON ms.MATERIAL_CATEGORY_ID = m.MATERIAL_CATEGORY_ID
        JOIN mt_material_category_tl ml ON m.MATERIAL_CATEGORY_ID = ml.MATERIAL_CATEGORY_ID
        AND ml.LANG = #{locale}
        WHERE
        1 = 1
        and mm.TENANT_ID = ${tenantId}
        and m.TENANT_ID=${tenantId}
        <if test="dto.kid != null">
            and mm.PFEP_INVENTORY_CATEGORY_ID = #{dto.kid}
        </if>
        <if test="dto.categoryId != null">
            and m.MATERIAL_CATEGORY_ID = #{dto.categoryId}
        </if>
        ORDER BY mm.CREATION_DATE DESC
    </select>

</mapper>