<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.qms.infra.mapper.QmsIqcHeaderHisMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.ruike.qms.domain.entity.QmsIqcHeaderHis">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="IQC_HEADER_HIS_ID" property="iqcHeaderHisId" jdbcType="VARCHAR"/>
        <result column="SITE_ID" property="siteId" jdbcType="VARCHAR"/>
        <result column="IQC_HEADER_ID" property="iqcHeaderId" jdbcType="VARCHAR"/>
        <result column="IQC_NUMBER" property="iqcNumber" jdbcType="VARCHAR"/>
        <result column="RECEIPT_LOT" property="receiptLot" jdbcType="VARCHAR"/>
        <result column="RECEIPT_BY" property="receiptBy" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_ID" property="supplierId" jdbcType="VARCHAR"/>
        <result column="MATERIAL_ID" property="materialId" jdbcType="VARCHAR"/>
        <result column="MATERIAL_VERSION" property="materialVersion" jdbcType="VARCHAR"/>
        <result column="INSPECTION_TYPE" property="inspectionType" jdbcType="VARCHAR"/>
        <result column="UAI_FLAG" property="uaiFlag" jdbcType="VARCHAR"/>
        <result column="INSPECTION_STATUS" property="inspectionStatus" jdbcType="VARCHAR"/>
        <result column="DOC_TYPE" property="docType" jdbcType="VARCHAR"/>
        <result column="DOC_HEADER_ID" property="docHeaderId" jdbcType="VARCHAR"/>
        <result column="DOC_LINE_ID" property="docLineId" jdbcType="VARCHAR"/>
        <result column="LOCATOR_ID" property="locatorId" jdbcType="VARCHAR"/>
        <result column="CREATED_DATE" property="createdDate" jdbcType="DATE"/>
        <result column="QUANTITY" property="quantity" jdbcType="DECIMAL"/>
        <result column="UOM_ID" property="uomId" jdbcType="VARCHAR"/>
        <result column="INSPECTION_METHOD" property="inspectionMethod" jdbcType="VARCHAR"/>
        <result column="INSPECTION_START_DATE" property="inspectionStartDate" jdbcType="DATE"/>
        <result column="IDENTIFICATION" property="identification" jdbcType="VARCHAR"/>
        <result column="INSPECTION_FINISH_DATE" property="inspectionFinishDate" jdbcType="DATE"/>
        <result column="INSPECTION_TIME" property="inspectionTime" jdbcType="DECIMAL"/>
        <result column="INSPECTION_RESULT" property="inspectionResult" jdbcType="VARCHAR"/>
        <result column="QC_BY" property="qcBy" jdbcType="VARCHAR"/>
        <result column="OK_QTY" property="okQty" jdbcType="DECIMAL"/>
        <result column="NG_QTY" property="ngQty" jdbcType="DECIMAL"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="FINAL_DECISION" property="finalDecision" jdbcType="VARCHAR"/>
        <result column="AUDIT_OPINION" property="auditOpinion" jdbcType="VARCHAR"/>
        <result column="EVENT_ID" property="eventId" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>

    <select id="queryMaterialLotIdByLine" resultType="java.lang.String">
        SELECT
	        iad.MATERIAL_LOT_ID
        FROM
	        mt_instruction_actual ia
	    LEFT JOIN mt_instruction_actual_detail iad ON ia.ACTUAL_ID = iad.ACTUAL_ID
	    WHERE  ia.TENANT_ID = #{tenantId}
        AND (iad.MATERIAL_LOT_ID is NOT NULL
        OR iad.MATERIAL_LOT_ID != '')
        AND ia.INSTRUCTION_ID = #{instructionId}
        GROUP BY iad.MATERIAL_LOT_ID
    </select>
</mapper>