<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.qms.infra.mapper.QmsIqcExamineBoardMapper">
	<!-- 可根据自己的需求，是否要使用 -->

    <select id="selectIqcExamineBoard" resultType="com.ruike.qms.api.dto.QmsIqcExamineBoardDTO">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
          qih.IQC_HEADER_ID,
          qih.IQC_NUMBER,
          qih.MATERIAL_ID,
          item.MATERIAL_CODE,
          tl.MATERIAL_NAME,
          qih.QUANTITY,
          qih.UOM_ID,
          uom.UOM_CODE,
          uom_tl.UOM_NAME,
          qih.SUPPLIER_ID,
          supp.SUPPLIER_CODE,
          supp_tl.SUPPLIER_NAME,
          convert(TIMESTAMPDIFF(SECOND,qih.CREATED_DATE,now())/(60 * 60 * 24), decimal) AS insp_time,
          qih.QC_BY,
          qih.IDENTIFICATION,
          qih.UAI_FLAG,
          qih.INSPECTION_TYPE
        FROM
          qms_iqc_header qih
        LEFT JOIN mt_material item ON item.MATERIAL_ID = qih.MATERIAL_ID
        LEFT JOIN mt_material_tl tl ON tl.MATERIAL_ID = item.MATERIAL_ID AND tl.LANG = #{lang}
        LEFT JOIN mt_uom uom ON uom.UOM_ID = qih.UOM_ID
        LEFT JOIN mt_uom_tl uom_tl ON uom_tl.UOM_ID = uom.UOM_ID AND uom_tl.LANG = #{lang}
        LEFT JOIN mt_supplier supp ON supp.SUPPLIER_ID = qih.SUPPLIER_ID
        LEFT JOIN mt_supplier_tl supp_tl ON supp_tl.SUPPLIER_ID = supp.SUPPLIER_ID AND supp_tl.LANG = #{lang}
        WHERE qih.TENANT_ID = #{tenantId}
        AND qih.INSPECTION_STATUS = 'NEW'
        ORDER BY case when qih.IDENTIFICATION = 'URGENT' then 1 else 2 end, qih.CREATED_DATE
    </select>

    <select id="selectIqcDays" resultType="com.ruike.qms.api.dto.QmsIqcCalSumDTO">
        SELECT
         sum(ifnull(qih.QUANTITY, 0)) AS total_qty,
         cal.SHIFT_DATE
        FROM
          (SELECT DISTINCT mcs.SHIFT_DATE
           FROM mt_calendar mc
           INNER JOIN mt_calendar_shift mcs ON mcs.CALENDAR_ID = mc.CALENDAR_ID
           WHERE mc.CALENDAR_CODE = 'IQC-KB'
           AND mcs.SHIFT_DATE &lt;= CURRENT_DATE()
           AND mcs.SHIFT_DATE &gt; DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)) cal
        LEFT JOIN qms_iqc_header qih ON cal.SHIFT_DATE = DATE_FORMAT(qih.INSPECTION_FINISH_DATE, '%Y-%m-%d')
        AND qih.INSPECTION_STATUS = 'COMPLETED'
        GROUP BY cal.SHIFT_DATE
        ORDER BY cal.SHIFT_DATE
    </select>

    <select id="selectIqcMonths" resultType="com.ruike.qms.api.dto.QmsIqcCalSumDTO">
        SELECT
         sum(ifnull(qih.QUANTITY, 0)) AS total_qty,
         cal.SHIFT_DATE
        FROM
          (SELECT DISTINCT DATE_FORMAT(mcs.SHIFT_DATE, '%Y-%m') AS SHIFT_DATE
           FROM mt_calendar mc
           INNER JOIN mt_calendar_shift mcs ON mcs.CALENDAR_ID = mc.CALENDAR_ID
           WHERE mc.CALENDAR_CODE = 'IQC-KB'
           AND mcs.SHIFT_DATE &lt;= CURRENT_DATE()
           AND mcs.SHIFT_DATE &gt; DATE_SUB(CURRENT_DATE(), INTERVAL 11 month)) cal
        LEFT JOIN qms_iqc_header qih ON cal.SHIFT_DATE = DATE_FORMAT(qih.INSPECTION_FINISH_DATE, '%Y-%m')
        AND qih.INSPECTION_STATUS = 'COMPLETED'
        GROUP BY cal.SHIFT_DATE
        ORDER BY cal.SHIFT_DATE
    </select>
</mapper>