<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.qms.infra.mapper.QmsOqcHeaderHisMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.ruike.qms.domain.entity.QmsOqcHeaderHis">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="EVENT_ID" property="eventId" jdbcType="VARCHAR"/>
        <result column="SITE_ID" property="siteId" jdbcType="VARCHAR"/>
        <result column="OQC_HEADER_HIS_ID" property="oqcHeaderHisId" jdbcType="VARCHAR"/>
        <result column="OQC_HEADER_ID" property="oqcHeaderId" jdbcType="VARCHAR"/>
        <result column="OQC_NUMBER" property="oqcNumber" jdbcType="VARCHAR"/>
        <result column="WO_ID" property="woId" jdbcType="VARCHAR"/>
        <result column="EO_ID" property="eoId" jdbcType="VARCHAR"/>
        <result column="SO_NUMBER" property="soNumber" jdbcType="VARCHAR"/>
        <result column="SO_LINE_NUMBER" property="soLineNumber" jdbcType="VARCHAR"/>
        <result column="MATERIAL_LOT_ID" property="materialLotId" jdbcType="VARCHAR"/>
        <result column="QUANTITY" property="quantity" jdbcType="DECIMAL"/>
        <result column="QC_BY" property="qcBy" jdbcType="DECIMAL"/>
        <result column="MATERIAL_ID" property="materialId" jdbcType="VARCHAR"/>
        <result column="MATERIAL_VERSION" property="materialVersion" jdbcType="VARCHAR"/>
        <result column="INSPECTION_STATUS" property="inspectionStatus" jdbcType="VARCHAR"/>
        <result column="CREATED_DATE" property="createdDate" jdbcType="DATE"/>
        <result column="INSPECTION_TIME" property="inspectionTime" jdbcType="DECIMAL"/>
        <result column="INSPECTION_FINISH_DATE" property="inspectionFinishDate" jdbcType="DATE"/>
        <result column="INSPECTION_RESULT" property="inspectionResult" jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="cid" property="cid" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="attribute_category" property="attributeCategory" jdbcType="VARCHAR"/>
        <result column="attribute1" property="attribute1" jdbcType="VARCHAR"/>
        <result column="attribute2" property="attribute2" jdbcType="VARCHAR"/>
        <result column="attribute3" property="attribute3" jdbcType="VARCHAR"/>
        <result column="attribute4" property="attribute4" jdbcType="VARCHAR"/>
        <result column="attribute5" property="attribute5" jdbcType="VARCHAR"/>
        <result column="attribute6" property="attribute6" jdbcType="VARCHAR"/>
        <result column="attribute7" property="attribute7" jdbcType="VARCHAR"/>
        <result column="attribute8" property="attribute8" jdbcType="VARCHAR"/>
        <result column="attribute9" property="attribute9" jdbcType="VARCHAR"/>
        <result column="attribute10" property="attribute10" jdbcType="VARCHAR"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>
</mapper>