<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.qms.infra.mapper.QmsSampleSizeCodeLetterMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.ruike.qms.domain.entity.QmsSampleSizeCodeLetter">
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="letter_id" property="letterId" jdbcType="VARCHAR"/>
        <result column="sample_standard_type" property="sampleStandardType" jdbcType="VARCHAR"/>
        <result column="lot_size_from" property="lotSizeFrom" jdbcType="DECIMAL"/>
        <result column="lot_size_to" property="lotSizeTo" jdbcType="DECIMAL"/>
        <result column="size_code_letter1" property="sizeCodeLetter1" jdbcType="VARCHAR"/>
        <result column="size_code_letter2" property="sizeCodeLetter2" jdbcType="VARCHAR"/>
        <result column="size_code_letter3" property="sizeCodeLetter3" jdbcType="VARCHAR"/>
        <result column="size_code_letter4" property="sizeCodeLetter4" jdbcType="VARCHAR"/>
        <result column="size_code_letter5" property="sizeCodeLetter5" jdbcType="VARCHAR"/>
        <result column="size_code_letter6" property="sizeCodeLetter6" jdbcType="VARCHAR"/>
        <result column="size_code_letter7" property="sizeCodeLetter7" jdbcType="VARCHAR"/>
        <result column="enable_flag" property="enableFlag" jdbcType="VARCHAR"/>
        <result column="cid" property="cid" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectByConditionForUi" resultType="com.ruike.qms.api.dto.QmsSampleSizeCodeLetterDTO">
        SELECT
        letter.letter_id,
        letter.lot_size_from,
        letter.lot_size_to,
        letter.sample_standard_type,
        letter.size_code_letter1,
        letter.size_code_letter2,
        letter.size_code_letter3,
        letter.size_code_letter4,
        letter.size_code_letter5,
        letter.size_code_letter6,
        letter.size_code_letter7,
        letter.enable_flag
        FROM
        qms_sample_size_code_letter letter
        WHERE letter.TENANT_ID = #{tenantId}
        <if test="lotSize != null">
            and #{lotSize} BETWEEN letter.lot_size_from AND letter.lot_size_to
        </if>
    </select>

    <select id="selectByConditionCount" resultType="java.lang.Integer">
        SELECT
          count(1)
        FROM
        qms_sample_size_code_letter letter
        WHERE letter.TENANT_ID = #{tenantId}
        <if test="letterId != null">
            and letter.letter_id != #{letterId}
        </if>
        <if test="lotSize != null">
            and #{lotSize} BETWEEN letter.lot_size_from AND letter.lot_size_to
        </if>
    </select>
</mapper>