<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.itf.infra.mapper.ItfBomComponentIfaceMapper">

    <insert id="batchInsertBomIface" parameterType="com.ruike.itf.domain.entity.ItfBomComponentIface">
        INSERT INTO ${tableName}
        VALUES
        <foreach collection="bomIfaceList" index="index" item="item" separator=",">
            (
            #{item.tenantId},
            #{item.ifaceId},
            #{item.plantCode},
            #{item.bomCode},
            #{item.bomAlternate},
            #{item.bomDescription},
            #{item.bomStartDate},
            #{item.bomEndDate},
            #{item.bomStatus},
            #{item.enableFlag},
            #{item.bomObjectType},
            #{item.bomObjectCode},
            #{item.standardQty},
            #{item.componentLineNum},
            #{item.componentItemCode},
            #{item.operationSequence},
            #{item.bomUsage},
            #{item.componentShrinkage},
            #{item.wipSupplyType},
            #{item.componentStartDate},
            #{item.componentEndDate},
            #{item.substituteItemCode},
            #{item.substituteItemUsage},
            #{item.substituteGroup},
            #{item.erpCreationDate},
            #{item.erpCreatedBy},
            #{item.erpLastUpdatedBy},
            #{item.erpLastUpdateDate},
            #{item.issueLocatorCode},
            #{item.assembleMethod},
            #{item.bomComponentType},
            #{item.batchId},
            #{item.batchDate},
            #{item.status},
            #{item.message},
            #{item.updateMethod},
            #{item.cid},
            #{item.objectVersionNumber},
            #{item.createdBy},
            #{item.creationDate},
            #{item.lastUpdatedBy},
            #{item.lastUpdateDate},
            #{item.attributeCategory},
            #{item.headAttribute1},
            #{item.headAttribute2},
            #{item.headAttribute3},
            #{item.headAttribute4},
            #{item.headAttribute5},
            #{item.headAttribute6},
            #{item.headAttribute7},
            #{item.headAttribute8},
            #{item.headAttribute9},
            #{item.headAttribute10},
            #{item.headAttribute11},
            #{item.headAttribute12},
            #{item.headAttribute13},
            #{item.headAttribute14},
            #{item.headAttribute15},
            #{item.lineAttribute1},
            #{item.lineAttribute2},
            #{item.lineAttribute3},
            #{item.lineAttribute4},
            #{item.lineAttribute5},
            #{item.lineAttribute6},
            #{item.lineAttribute7},
            #{item.lineAttribute8},
            #{item.lineAttribute9},
            #{item.lineAttribute10},
            #{item.lineAttribute11},
            #{item.lineAttribute12},
            #{item.lineAttribute13},
            #{item.lineAttribute14},
            #{item.lineAttribute15},
            #{item.lineAttribute16},
            #{item.lineAttribute17},
            #{item.lineAttribute18},
            #{item.lineAttribute19},
            #{item.lineAttribute20},
            #{item.lineAttribute21},
            #{item.lineAttribute22},
            #{item.lineAttribute23},
            #{item.lineAttribute24},
            #{item.lineAttribute25},
            #{item.lineAttribute26},
            #{item.lineAttribute27},
            #{item.lineAttribute28},
            #{item.lineAttribute29},
            #{item.lineAttribute30}
            )
        </foreach>
    </insert>
    <insert id="batchInsertBom" parameterType="com.ruike.itf.domain.entity.ItfBomComponentIface">
        INSERT INTO ${tableName}
        VALUES
        <foreach collection="bomIfaceList" index="index" item="item" separator=",">
            (
            #{item.tenantId},
            #{item.ifaceId},
            #{item.plantCode},
            #{item.bomCode},
            #{item.bomAlternate},
            #{item.bomDescription},
            #{item.bomStartDate},
            #{item.bomEndDate},
            #{item.bomStatus},
            #{item.enableFlag},
            #{item.bomObjectType},
            #{item.bomObjectCode},
            #{item.standardQty},
            #{item.componentLineNum},
            #{item.componentItemCode},
            #{item.operationSequence},
            #{item.bomUsage},
            #{item.componentShrinkage},
            #{item.wipSupplyType},
            #{item.componentStartDate},
            #{item.componentEndDate},
            #{item.substituteItemCode},
            #{item.substituteItemUsage},
            #{item.substituteGroup},
            #{item.erpCreationDate},
            #{item.erpCreatedBy},
            #{item.erpLastUpdatedBy},
            #{item.erpLastUpdateDate},
            #{item.issueLocatorCode},
            #{item.assembleMethod},
            #{item.bomComponentType},
            #{item.batchId},
            #{item.status},
            #{item.message},
            #{item.updateMethod},
            #{item.cid},
            #{item.objectVersionNumber},
            #{item.createdBy},
            #{item.creationDate},
            #{item.lastUpdatedBy},
            #{item.lastUpdateDate},
            #{item.attributeCategory},
            #{item.headAttribute1},
            #{item.headAttribute2},
            #{item.headAttribute3},
            #{item.headAttribute4},
            #{item.headAttribute5},
            #{item.headAttribute6},
            #{item.headAttribute7},
            #{item.headAttribute8},
            #{item.headAttribute9},
            #{item.headAttribute10},
            #{item.headAttribute11},
            #{item.headAttribute12},
            #{item.headAttribute13},
            #{item.headAttribute14},
            #{item.headAttribute15},
            #{item.lineAttribute1},
            #{item.lineAttribute2},
            #{item.lineAttribute3},
            #{item.lineAttribute4},
            #{item.lineAttribute5},
            #{item.lineAttribute6},
            #{item.lineAttribute7},
            #{item.lineAttribute8},
            #{item.lineAttribute9},
            #{item.lineAttribute10},
            #{item.lineAttribute11},
            #{item.lineAttribute12},
            #{item.lineAttribute13},
            #{item.lineAttribute14},
            #{item.lineAttribute15},
            #{item.lineAttribute16},
            #{item.lineAttribute17},
            #{item.lineAttribute18},
            #{item.lineAttribute19},
            #{item.lineAttribute20},
            #{item.lineAttribute21},
            #{item.lineAttribute22},
            #{item.lineAttribute23},
            #{item.lineAttribute24},
            #{item.lineAttribute25},
            #{item.lineAttribute26},
            #{item.lineAttribute27},
            #{item.lineAttribute28},
            #{item.lineAttribute29},
            #{item.lineAttribute30}
            )
        </foreach>
    </insert>

    <delete id="deleteByTypeAndBatchDate">
        delete from itf_bom_component_iface where BOM_OBJECT_TYPE = #{type} and BATCH_DATE = #{batchDate}
    </delete>
</mapper>