<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.itf.infra.mapper.ItfCustomerIfaceMapper">

    <insert id="batchInsertCustomer" parameterType="com.ruike.itf.domain.entity.ItfCustomerIface">
    INSERT INTO ${tableName}
    VALUES
    <foreach collection="itfCustomerIfaceList" index="index" item="item" separator=",">
        (
        #{item.tenantId},
        #{item.ifaceId},
        #{item.customerId},
        #{item.customerCode},
        #{item.customerName},
        #{item.customerNameAlt},
        #{item.customerSiteCode},
        #{item.customerType},
        #{item.customerDateFrom},
        #{item.customerDateTo},
        #{item.customerSiteNumber},
        #{item.siteUseType},
        #{item.address},
        #{item.country},
        #{item.province},
        #{item.city},
        #{item.contactPhoneNumber},
        #{item.contactPerson},
        #{item.siteDateFrom},
        #{item.siteDateTo},
        #{item.erpCreationDate},
        #{item.erpCreatedBy},
        #{item.erpLastUpdatedBy},
        #{item.erpLastUpdateDate},
        #{item.batchId},
        #{item.status},
        #{item.message},
        #{item.cid},
        #{item.attribute1},
        #{item.attribute2},
        #{item.attribute3},
        #{item.attribute4},
        #{item.attribute5},
        #{item.attribute6},
        #{item.attribute7},
        #{item.attribute8},
        #{item.attribute9},
        #{item.attribute10},
        #{item.objectVersionNumber},
        #{item.createdBy},
        #{item.creationDate},
        #{item.lastUpdatedBy},
        #{item.lastUpdateDate}
        )
    </foreach>
</insert>
</mapper>