<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.itf.infra.mapper.ItfCmsCollectIfaceMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.ruike.itf.domain.entity.ItfCmsCollectIface">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="CMS_COLLECT_IFACE_ID" property="cmsCollectIfaceId" jdbcType="VARCHAR"/>
        <result column="EQUIPMENT_NUM" property="equipmentNum" jdbcType="VARCHAR"/>
        <result column="SN_NUM" property="snNum" jdbcType="VARCHAR"/>
        <result column="IDENTIFICATION" property="identification" jdbcType="VARCHAR"/>
        <result column="PROCESS_DATE" property="processDate" jdbcType="DATE"/>
        <result column="PROCESS_MESSAGE" property="processMessage" jdbcType="VARCHAR"/>
        <result column="PROCESS_STATUS" property="processStatus" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR"/>
    </resultMap>
    <update id="myBatchUpdate">
        UPDATE itf_cms_collect_iface
        <set>
            object_version_number = object_version_number + 1,
            last_updated_by = #{userId},
            last_update_date = CURRENT_TIMESTAMP,
            equipment_num =
            <foreach collection="updateList" item="item" index="index"
                     separator=" " open="case cms_collect_iface_id" close="end">
                when #{item.cmsCollectIfaceId} then #{item.equipmentNum}
            </foreach>,
            sn_num =
            <foreach collection="updateList" item="item" index="index"
                     separator=" " open="case cms_collect_iface_id" close="end">
                when #{item.cmsCollectIfaceId} then #{item.snNum}
            </foreach>,
            identification =
            <foreach collection="updateList" item="item" index="index"
                     separator=" " open="case cms_collect_iface_id" close="end">
                when #{item.cmsCollectIfaceId} then #{item.identification}
            </foreach>,
            process_date =
            <foreach collection="updateList" item="item" index="index"
                     separator=" " open="case cms_collect_iface_id" close="end">
                when #{item.cmsCollectIfaceId} then #{item.processDate}
            </foreach>,
            process_message =
            <foreach collection="updateList" item="item" index="index"
                     separator=" " open="case cms_collect_iface_id" close="end">
                when #{item.cmsCollectIfaceId} then #{item.processMessage}
            </foreach>,
            process_status =
            <foreach collection="updateList" item="item" index="index"
                     separator=" " open="case cms_collect_iface_id" close="end">
                when #{item.cmsCollectIfaceId} then #{item.processStatus}
            </foreach>
        </set>
        <where>
            cms_collect_iface_id in
            <foreach collection="updateList" item="item"
                     separator="," open="(" close=")">
                #{item.cmsCollectIfaceId}
            </foreach>
        </where>
    </update>

    <insert id="insertIface">
        INSERT INTO itf_cms_collect_iface
        (
        CMS_COLLECT_IFACE_ID,
        EQUIPMENT_NUM,
        IDENTIFICATION,
        SN_NUM,
        PROCESS_DATE,
        PROCESS_MESSAGE,
        PROCESS_STATUS,
        tenant_id,
        cid,
        object_version_number,
        creation_date,
        created_by,
        last_updated_by,
        last_update_date,
        ATTRIBUTE_CATEGORY,
        ATTRIBUTE1,
        ATTRIBUTE2,
        ATTRIBUTE3,
        ATTRIBUTE4,
        ATTRIBUTE5,
        ATTRIBUTE6,
        ATTRIBUTE7,
        ATTRIBUTE8,
        ATTRIBUTE9,
        ATTRIBUTE10,
        ATTRIBUTE11,
        ATTRIBUTE12,
        ATTRIBUTE13,
        ATTRIBUTE14,
        ATTRIBUTE15
        )
        VALUES
    <foreach collection="domains" index="index" item="item" separator=",">
        (
        #{item.cmsCollectIfaceId},
        #{item.equipmentNum},
        #{item.identification},
        #{item.snNum},
        #{item.processDate},
        #{item.processMessage},
        #{item.processStatus},
        #{item.tenantId},
        #{item.cid},
        #{item.objectVersionNumber},
        #{item.creationDate},
        #{item.createdBy},
        #{item.lastUpdatedBy},
        #{item.lastUpdateDate},
        #{item.attributeCategory},
        #{item.attribute1},
        #{item.attribute2},
        #{item.attribute3},
        #{item.attribute4},
        #{item.attribute5},
        #{item.attribute6},
        #{item.attribute7},
        #{item.attribute8},
        #{item.attribute9},
        #{item.attribute10},
        #{item.attribute11},
        #{item.attribute12},
        #{item.attribute13},
        #{item.attribute14},
        #{item.attribute15}
        )
    </foreach>
</insert>
</mapper>