<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.itf.infra.mapper.ItfInstructionAddrIfaceMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.ruike.itf.domain.entity.ItfInstructionAddrIface">
        <result column="IFACE_ID" property="ifaceId" jdbcType="VARCHAR"/>
        <result column="INSTRUCTION_DOC_NUM" property="instructionDocNum" jdbcType="VARCHAR"/>
        <result column="SRM_LINE_NUM" property="srmLineNum" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="MESSAGE" property="message" jdbcType="VARCHAR"/>
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectDocNumAndSrmLineNumByDocNum" resultType="com.ruike.itf.domain.vo.ItfInstructionAddrVO">
        SELECT
        wpdr.po_delivery_rel_id AS poDeliveryRelId,
        mid.INSTRUCTION_DOC_ID AS docId,
        mid.INSTRUCTION_DOC_NUM AS docNum,
        wpdr.srm_line_num AS srmLineNum
        FROM
        wms_po_delivery_rel wpdr
        JOIN mt_instruction_doc mid ON mid.INSTRUCTION_DOC_ID = wpdr.delivery_doc_id
        WHERE
        cast( wpdr.srm_line_num AS CHAR ) != ''
        AND mid.TENANT_ID = ${tenantId}
        AND mid.INSTRUCTION_DOC_NUM IN
        <foreach collection="docNums" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY
        mid.INSTRUCTION_DOC_NUM,
        wpdr.srm_line_num ASC
    </select>
</mapper>