<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.itf.infra.mapper.ItfInvItemIfaceMapper">

    <insert id="batchInsertItemIface" parameterType="com.ruike.itf.domain.entity.ItfInvItemIface">
        INSERT INTO ${tableName}
        VALUES
        <foreach collection="itemIfaceList" index="index" item="item" separator=",">
            (
            #{item.tenantId},
            #{item.ifaceId},
            #{item.plantCode},
            #{item.itemId},
            #{item.itemCode},
            #{item.oldItemCode},
            #{item.primaryUom},
            #{item.descriptions},
            #{item.descriptionMir},
            #{item.enableFlag},
            #{item.itemType},
            #{item.planningMakeBuyCode},
            #{item.lotControlCode},
            #{item.prerpocessingLeadTime},
            #{item.purchaseLeadtime},
            #{item.wipLeadTime},
            #{item.instockLeadTime},
            #{item.minPackQty},
            #{item.minimumOrderQuantity},
            #{item.buyerCode},
            #{item.qcFlag},
            #{item.receivingRoutingId},
            #{item.wipSupplyType},
            #{item.vmiFlag},
            #{item.itemGroup},
            #{item.productGroup},
            #{item.erpCreationDate},
            #{item.erpCreatedBy},
            #{item.erpLastUpdatedBy},
            #{item.erpLastUpdateDate},
            #{item.materialDesignCode},
            #{item.materialIdentifyCode},
            #{item.sizeUomCode},
            #{item.model},
            #{item.length},
            #{item.width},
            #{item.height},
            #{item.volume},
            #{item.weight},
            #{item.shelfLife},
            #{item.conversionRate},
            #{item.volumeUomCode},
            #{item.weightUomCode},
            #{item.shelfLifeUomCode},
            #{item.secondaryUomCode},
            #{item.stockLocatorCode},
            #{item.batchId},
            #{item.batchDate},
            #{item.status},
            #{item.message},
            #{item.attribute1},
            #{item.attribute2},
            #{item.attribute3},
            #{item.attribute4},
            #{item.attribute5},
            #{item.attribute6},
            #{item.attribute7},
            #{item.attribute8},
            #{item.attribute9},
            #{item.attribute10},
            #{item.attribute11},
            #{item.attribute12},
            #{item.attribute13},
            #{item.attribute14},
            #{item.attribute15},
            #{item.attribute16},
            #{item.attribute17},
            #{item.attribute18},
            #{item.attribute19},
            #{item.attribute20},
            #{item.attribute21},
            #{item.attribute22},
            #{item.attribute23},
            #{item.attribute24},
            #{item.attribute25},
            #{item.attribute26},
            #{item.attribute27},
            #{item.attribute28},
            #{item.attribute29},
            #{item.attribute30},
            #{item.cid},
            #{item.objectVersionNumber},
            #{item.createdBy},
            #{item.creationDate},
            #{item.lastUpdatedBy},
            #{item.lastUpdateDate}
            )
        </foreach>
    </insert>
    <insert id="batchInsertItem" parameterType="com.ruike.itf.domain.entity.ItfInvItemIface">
        INSERT INTO ${tableName}
        VALUES
        <foreach collection="itemIfaceList" index="index" item="item" separator=",">
            (
            #{item.tenantId},
            #{item.ifaceId},
            #{item.plantCode},
            #{item.itemId},
            #{item.itemCode},
            #{item.oldItemCode},
            #{item.primaryUom},
            #{item.descriptions},
            #{item.descriptionMir},
            #{item.enableFlag},
            #{item.itemType},
            #{item.planningMakeBuyCode},
            #{item.lotControlCode},
            #{item.prerpocessingLeadTime},
            #{item.purchaseLeadtime},
            #{item.wipLeadTime},
            #{item.instockLeadTime},
            #{item.minPackQty},
            #{item.minimumOrderQuantity},
            #{item.buyerCode},
            #{item.qcFlag},
            #{item.receivingRoutingId},
            #{item.wipSupplyType},
            #{item.vmiFlag},
            #{item.itemGroup},
            #{item.productGroup},
            #{item.erpCreationDate},
            #{item.erpCreatedBy},
            #{item.erpLastUpdatedBy},
            #{item.erpLastUpdateDate},
            #{item.materialDesignCode},
            #{item.materialIdentifyCode},
            #{item.sizeUomCode},
            #{item.model},
            #{item.length},
            #{item.width},
            #{item.height},
            #{item.volume},
            #{item.weight},
            #{item.shelfLife},
            #{item.conversionRate},
            #{item.volumeUomCode},
            #{item.weightUomCode},
            #{item.shelfLifeUomCode},
            #{item.secondaryUomCode},
            #{item.stockLocatorCode},
            #{item.batchId},
            #{item.status},
            #{item.message},
            #{item.attribute1},
            #{item.attribute2},
            #{item.attribute3},
            #{item.attribute4},
            #{item.attribute5},
            #{item.attribute6},
            #{item.attribute7},
            #{item.attribute8},
            #{item.attribute9},
            #{item.attribute10},
            #{item.attribute11},
            #{item.attribute12},
            #{item.attribute13},
            #{item.attribute14},
            #{item.attribute15},
            #{item.attribute16},
            #{item.attribute17},
            #{item.attribute18},
            #{item.attribute19},
            #{item.attribute20},
            #{item.attribute21},
            #{item.attribute22},
            #{item.attribute23},
            #{item.attribute24},
            #{item.attribute25},
            #{item.attribute26},
            #{item.attribute27},
            #{item.attribute28},
            #{item.attribute29},
            #{item.attribute30},
            #{item.cid},
            #{item.objectVersionNumber},
            #{item.createdBy},
            #{item.creationDate},
            #{item.lastUpdatedBy},
            #{item.lastUpdateDate}
            )
        </foreach>
    </insert>

</mapper>