<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.itf.infra.mapper.ItfMaterialSiteAttrMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.ruike.itf.domain.entity.ItfMaterialSiteAttr">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="ATTR_ID" property="attrId" jdbcType="VARCHAR"/>
        <result column="MATERIAL_SITE_ID" property="materialSiteId" jdbcType="VARCHAR"/>
        <result column="ATTR_NAME" property="attrName" jdbcType="VARCHAR"/>
        <result column="ATTR_VALUE" property="attrValue" jdbcType="VARCHAR"/>
        <result column="LANG" property="lang" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>
    <insert id="batchInsert" parameterType="com.ruike.itf.domain.entity.ItfMaterialSiteAttr">
        insert into mt_material_site_attr values
        <foreach collection="siteAttr" item="item" separator="," index="index">
            (
            #{item.tenantId},
            #{item.attrId},
            #{item.materialSiteId},
            #{item.attrName},
            #{item.attrValue},
            #{item.lang},
            #{item.cid},
            #{item.objectVersionNumber},
            #{item.createdBy},
            #{item.creationDate},
            #{item.lastUpdatedBy},
            #{item.lastUpdateDate}
            )
        </foreach>

    </insert>
</mapper>