<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.itf.infra.mapper.SoDeliveryIfaceMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.ruike.itf.domain.entity.SoDeliveryIface">
                    <result column="IFACE_ID" property="ifaceId" jdbcType="VARCHAR"/>
                    <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
                    <result column="INSTRUCTION_DOC_NUM" property="instructionDocNum" jdbcType="VARCHAR"/>
                    <result column="INSTRUCTION_DOC_TYPE" property="instructionDocType" jdbcType="VARCHAR"/>
                    <result column="SAP_DOC_TYPE" property="sapDocType" jdbcType="VARCHAR"/>
                    <result column="SAP_DOC_TYPE_DES" property="sapDocTypeDes" jdbcType="VARCHAR"/>
                    <result column="INSTRUCTION_DOC_STATUS" property="instructionDocStatus" jdbcType="VARCHAR"/>
                    <result column="PLANT_CODE" property="plantCode" jdbcType="VARCHAR"/>
                    <result column="CUSTOMER_CODE" property="customerCode" jdbcType="VARCHAR"/>
                    <result column="DEMAND_TIME" property="demandTime" jdbcType="VARCHAR"/>
                    <result column="SO_ORGANIZATION_CODE" property="soOrganizationCode" jdbcType="VARCHAR"/>
                    <result column="SOURCE_SYSTEM" property="sourceSystem" jdbcType="VARCHAR"/>
                    <result column="INSTRUCTION_NUM" property="instructionNum" jdbcType="VARCHAR"/>
                    <result column="INSTRUCTION_TYPE" property="instructionType" jdbcType="VARCHAR"/>
                    <result column="INSTRUCTION_STATUS" property="instructionStatus" jdbcType="VARCHAR"/>
                    <result column="MATERIAL_CODE" property="materialCode" jdbcType="VARCHAR"/>
                    <result column="LOT_FLAG" property="lotFlag" jdbcType="VARCHAR"/>
                    <result column="MATERIAL_VERSION" property="materialVersion" jdbcType="VARCHAR"/>
                    <result column="QUANTITY" property="quantity" jdbcType="DECIMAL"/>
                    <result column="UOM_CODE" property="uomCode" jdbcType="VARCHAR"/>
                    <result column="FROM_SITE_CODE" property="fromSiteCode" jdbcType="VARCHAR"/>
                    <result column="FROM_LOCATOR_CODE" property="fromLocatorCode" jdbcType="VARCHAR"/>
                    <result column="TO_SITE_CODE" property="toSiteCode" jdbcType="VARCHAR"/>
                    <result column="TO_LOCATOR_CODE" property="toLocatorCode" jdbcType="VARCHAR"/>
                    <result column="REMARK_L" property="remarkL" jdbcType="VARCHAR"/>
                    <result column="REMARK_SO" property="remarkSo" jdbcType="VARCHAR"/>
                    <result column="SOURCE_ORDER_NUM" property="sourceOrderNum" jdbcType="VARCHAR"/>
                    <result column="SOURCE_ORDER_LINE_NUM" property="sourceOrderLineNum" jdbcType="VARCHAR"/>
                    <result column="INSTRUCTION_LINE_NUM" property="instructionLineNum" jdbcType="VARCHAR"/>
                    <result column="SPEC_STOCK_FLAG" property="specStockFlag" jdbcType="VARCHAR"/>
                    <result column="SAP_DOC_LINE_TYPE" property="sapDocLineType" jdbcType="VARCHAR"/>
                    <result column="SAP_DOC_LINE_TYPE_DES" property="sapDocLineTypeDes" jdbcType="VARCHAR"/>
                    <result column="SN" property="sn" jdbcType="VARCHAR"/>
                    <result column="BATCH_ID" property="batchId" jdbcType="DECIMAL"/>
                    <result column="STATUS" property="status" jdbcType="VARCHAR"/>
                    <result column="MESSAGE" property="message" jdbcType="VARCHAR"/>
                    <result column="CID" property="cid" jdbcType="DECIMAL"/>
                    <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
                    <result column="creation_date" property="creationDate" jdbcType="DATE"/>
                    <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
                    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
                    <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
                    <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR"/>
            </resultMap>
</mapper>