<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.pull.infra.mapper.MtModDisLocatorDetealMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.pull.domain.entity.MtModDisLocatorDeteal">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="DISTRIBUTION_LOCATOR_DETEAL_ID" property="distributionLocatorDetealId" jdbcType="VARCHAR"/>
        <result column="LOCATOR_ORGANIZATION_REL_ID" property="locatorOrganizationRelId" jdbcType="VARCHAR"/>
        <result column="PULL_T0_ARRIVE" property="pullT0Arrive" jdbcType="DECIMAL"/>
        <result column="SOURCE_LOCATOR_FLAG" property="sourceLocatorFlag" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>