<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.pull.infra.mapper.MtPullDispatchSnapshotMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.pull.domain.entity.MtPullDispatchSnapshot">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="DISPATCH_SNAPSHOT_ID" property="dispatchSnapshotId" jdbcType="VARCHAR"/>
        <result column="SHIFT_DATE" property="shiftDate" jdbcType="TIMESTAMP"/>
        <result column="SHIFT_CODE" property="shiftCode" jdbcType="VARCHAR"/>
        <result column="WORKCELL_ID" property="workcellId" jdbcType="VARCHAR"/>
        <result column="AREA_ID" property="areaId" jdbcType="VARCHAR"/>
        <result column="EO_ID" property="eoId" jdbcType="VARCHAR"/>
        <result column="WORK_ORDER_ID" property="workOrderId" jdbcType="VARCHAR"/>
        <result column="DISPATCH_QTY" property="dispatchQty" jdbcType="DECIMAL"/>
        <result column="PRIORITY" property="priority" jdbcType="DECIMAL"/>
        <result column="REVISION" property="revision" jdbcType="DECIMAL"/>
        <result column="SNAPSHOT_REVISION" property="snapshotRevision" jdbcType="VARCHAR"/>
        <result column="LATEST_REVISION_FLAG" property="latestRevisionFlag" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>