<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.pull.infra.mapper.MtPullComponentSnapshotMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.pull.domain.entity.MtPullComponentSnapshot">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="CONPONENT_SNAPSHOT_ID" property="conponentSnapshotId" jdbcType="VARCHAR"/>
        <result column="DISPATCH_SNAPSHOT_ID" property="dispatchSnapshotId" jdbcType="VARCHAR"/>
        <result column="COMPONENT_ID" property="componentId" jdbcType="VARCHAR"/>
        <result column="MATERIAL_ID" property="materialId" jdbcType="VARCHAR"/>
        <result column="QTY" property="qty" jdbcType="DECIMAL"/>
        <result column="ACTUAL_QTY" property="actualQty" jdbcType="DECIMAL"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>