<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="false" scanPeriod="30 seconds">
    <springProperty name="LOG_PATH" source="logging.path" defaultValue="/data/hzero/logs"/>
    <property name="n" value="5"/>
    <property name="encoding" value="UTF-8"/>
    <property name="normal-pattern" value="[%p][%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ,Asia/Shanghai}][%c:%L] %msg%n"/>
    <property name="application-name" value="raycus-hcms-backends"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${normal-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
            </pattern>
        </layout>
    </appender>

    <!--默认文件-->
    <appender name="file-default"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${application-name}-api-default.log</file>
        <prudent>true</prudent>
        <Append>true</Append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <encoder>
            <pattern>${normal-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${application-name}-api-default.s${n}.%d{yyyy-MM-dd.HH}-%i.log</fileNamePattern>
            <MaxHistory>5</MaxHistory>
            <!--日志文件最大的大小-->
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <!--错误以及以上级别日志-->
    <appender name="file-error"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${application-name}-api-error.log</file>
        <prudent>true</prudent>
        <Append>true</Append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>${normal-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/${application-name}-api-error.s${n}.log.%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="file-default"/>
        <appender-ref ref="file-error"/>
        <appender-ref ref="console"/>
    </root>
</configuration>
