<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.iface.infra.mapper.MtErpSubinvLocatorMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.iface.domain.entity.MtErpSubinvLocator">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="SUBINV_LOCATOR_ID" property="subinvLocatorId" jdbcType="VARCHAR"/>
        <result column="PLANT_CODE" property="plantCode" jdbcType="VARCHAR"/>
        <result column="SUBINV_CODE" property="subinvCode" jdbcType="VARCHAR"/>
        <result column="LOCATOR_ID" property="locatorId" jdbcType="VARCHAR"/>
        <result column="LOCATOR_CODE" property="locatorCode" jdbcType="VARCHAR"/>
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="getInsertOrUpdateData" resultMap="BaseResultMap">

        select t.* from mt_erp_subinv_locator t where t.TENANT_ID=#{tenantId}
        <if test="dto!=null and dto.size()>0">
            <foreach collection="dto" open="and (" close=")" index="in" item="it" separator="or">
                (t.PLANT_CODE =#{it.plantCode}
                and t.SUBINV_CODE=#{it.subinvCode}
                and t.LOCATOR_CODE=#{it.locatorCode}
                )
            </foreach>
        </if>
        <if test="dto==null or dto.size()==0">
            and 1=-1
        </if>
    </select>
</mapper>