<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.iface.infra.mapper.MtSubinventoryMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.iface.domain.entity.MtSubinventory">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="SUBINVENTORY_ID" property="subinventoryId" jdbcType="VARCHAR"/>
        <result column="SUBINVENTORY_CODE" property="subinventoryCode" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="PLANT_CODE" property="plantCode" jdbcType="VARCHAR"/>
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <select id="subInventoryBatchGet" resultMap="BaseResultMap">
        select 
        	* 
        from 
        	mt_subinventory
        where 
	        TENANT_ID = ${tenantId}
	        <if test="subInventoryList != null and subInventoryList.size() != 0">
	            <foreach collection="subInventoryList" item="i" separator="OR" open="and (" close=")" index="index">
	                (
	                SUBINVENTORY_CODE=#{i.subinventoryCode} and PLANT_CODE=#{i.plantCode}
	                )
	            </foreach>
	        </if>
    </select>
</mapper>