<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.method.infra.mapper.MtNcSecondaryCodeMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.method.domain.entity.MtNcSecondaryCode">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="NC_SECONDARY_CODE_ID" property="ncSecondaryCodeId" jdbcType="VARCHAR"/>
        <result column="NC_OBJECT_ID" property="ncObjectId" jdbcType="VARCHAR"/>
        <result column="NC_OBJECT_TYPE" property="ncObjectType" jdbcType="VARCHAR"/>
        <result column="NC_CODE_ID" property="ncCodeId" jdbcType="VARCHAR"/>
        <result column="SEQUENCE" property="sequence" jdbcType="DECIMAL"/>
        <result column="REQUIRED_FLAG" property="requiredFlag" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="DtoResultMap" type="tarzan.method.api.dto.MtNcSecondaryCodeDTO">
        <result column="NC_SECONDARY_CODE_ID" property="ncSecondaryCodeId" jdbcType="VARCHAR"/>
        <result column="NC_CODE_ID" property="ncCodeId" jdbcType="VARCHAR"/>
        <result column="SEQUENCE" property="sequence" jdbcType="DECIMAL"/>
        <result column="REQUIRED_FLAG" property="requiredFlag" jdbcType="VARCHAR"/>
        <result column="SECONDARY_NC_CODE" property="secondaryNcCode" jdbcType="VARCHAR"/>
        <result column="SECONDARY_NC_DESC" property="secondaryNcDesc" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="querySecondaryCodeListForUi" resultMap="DtoResultMap">
        <bind name="locale" value="@org.hzero.core.helper.LanguageHelper@language()"/>
        select
        mnsc.NC_SECONDARY_CODE_ID,
        mnsc.NC_CODE_ID,
        mnsc.SEQUENCE,
        mnsc.REQUIRED_FLAG,
        mnc.NC_CODE SECONDARY_NC_CODE,
        mnct.DESCRIPTION SECONDARY_NC_DESC
        from mt_nc_secondary_code mnsc
        join mt_nc_code mnc on mnsc.NC_CODE_ID = mnc.NC_CODE_ID
        join mt_nc_code_tl mnct on mnc.NC_CODE_ID = mnct.NC_CODE_ID and mnct.LANG = #{locale}
        where mnsc.TENANT_ID = ${tenantId}
        and mnc.TENANT_ID = ${tenantId}
        and mnsc.NC_OBJECT_ID = #{ncObjectId}
        and mnsc.NC_OBJECT_TYPE = #{ncObjectType}
        ORDER BY
        mnsc.SEQUENCE
    </select>


</mapper>