<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.method.infra.mapper.MtRouterSiteAssignMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.method.domain.entity.MtRouterSiteAssign">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="ROUTER_SITE_ASSIGN_ID" property="routerSiteAssignId" jdbcType="VARCHAR"/>
        <result column="ROUTER_ID" property="routerId" jdbcType="VARCHAR"/>
        <result column="SITE_ID" property="siteId" jdbcType="VARCHAR"/>
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="DtoResultMap" type="tarzan.method.api.dto.MtRouterSiteAssignDTO2">
        <result column="ROUTER_SITE_ASSIGN_ID" property="routerSiteAssignId" jdbcType="VARCHAR"/>
        <result column="ROUTER_ID" property="routerId" jdbcType="VARCHAR"/>
        <result column="SITE_ID" property="siteId" jdbcType="VARCHAR"/>
        <result column="SITE_CODE" property="siteCode" jdbcType="VARCHAR"/>
        <result column="SITE_NAME" property="siteName" jdbcType="VARCHAR"/>
        <result column="SITE_TYPE" property="siteType" jdbcType="VARCHAR"/>
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryRouterSiteAssignByRouterId" resultMap="BaseResultMap">
        select ROUTER_ID, ROUTER_SITE_ASSIGN_ID, SITE_ID, ENABLE_FLAG
        from mt_router_site_assign
        where
        TENANT_ID = ${tenantId}
        and ROUTER_ID in
        <foreach collection="routerIdList" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="queryRouterSiteAssignForUi" resultMap="DtoResultMap">
        <bind name="locale" value="@org.hzero.core.helper.LanguageHelper@language()"/>
        select
        mrsa.ROUTER_SITE_ASSIGN_ID,
        mrsa.ROUTER_ID,
        mrsa.SITE_ID,
        mms.SITE_CODE,
        mms.SITE_TYPE,
        mmst.SITE_NAME,
        mrsa.ENABLE_FLAG
        from mt_router_site_assign mrsa
        join mt_mod_site mms on mrsa.SITE_ID = mms.SITE_ID and mms.TENANT_ID = ${tenantId}
        join mt_mod_site_tl mmst on mms.SITE_ID = mmst.SITE_ID and mmst.LANG = #{locale}
        where mrsa.TENANT_ID = ${tenantId}
        and mrsa.ROUTER_ID = #{routerId}
    </select>
</mapper>