<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.method.infra.mapper.MtRouterStepHisMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.method.domain.entity.MtRouterStepHis">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="ROUTER_STEP_HIS_ID" property="routerStepHisId" jdbcType="VARCHAR"/>
        <result column="ROUTER_STEP_ID" property="routerStepId" jdbcType="VARCHAR"/>
        <result column="ROUTER_ID" property="routerId" jdbcType="VARCHAR"/>
        <result column="STEP_NAME" property="stepName" jdbcType="VARCHAR"/>
        <result column="ROUTER_STEP_TYPE" property="routerStepType" jdbcType="VARCHAR"/>
        <result column="SEQUENCE" property="sequence" jdbcType="DECIMAL"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="COPRODUCT_FLAG" property="coproductFlag" jdbcType="VARCHAR"/>
        <result column="QUEUE_DECISION_TYPE" property="queueDecisionType" jdbcType="VARCHAR"/>
        <result column="ENTRY_STEP_FLAG" property="entryStepFlag" jdbcType="VARCHAR"/>
        <result column="KEY_STEP_FLAG" property="keyStepFlag" jdbcType="VARCHAR"/>
        <result column="COPIED_FROM_ROUTER_STEP_ID" property="copiedFromRouterStepId" jdbcType="VARCHAR"/>
        <result column="EVENT_ID" property="eventId" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>