<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.dispatch.infra.mapper.MtEoDispatchProcessMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.dispatch.domain.entity.MtEoDispatchProcess">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="EO_DISPATCH_PROCESS_ID" property="eoDispatchProcessId" jdbcType="VARCHAR"/>
        <result column="EO_ID" property="eoId" jdbcType="VARCHAR"/>
        <result column="ROUTER_STEP_ID" property="routerStepId" jdbcType="VARCHAR"/>
        <result column="OPERATION_ID" property="operationId" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="WORKCELL_ID" property="workcellId" jdbcType="VARCHAR"/>
        <result column="PRIORITY" property="priority" jdbcType="DECIMAL"/>
        <result column="PLAN_START_TIME" property="planStartTime" jdbcType="TIMESTAMP"/>
        <result column="PLAN_END_TIME" property="planEndTime" jdbcType="TIMESTAMP"/>
        <result column="SHIFT_DATE" property="shiftDate" jdbcType="DATE"/>
        <result column="SHIFT_CODE" property="shiftCode" jdbcType="VARCHAR"/>
        <result column="ASSIGN_QTY" property="assignQty" jdbcType="DECIMAL"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="UiResultMap" type="tarzan.dispatch.domain.vo.MtEoDispatchPlatformVO1">
        <result column="EO_ID" property="eoId" jdbcType="VARCHAR"/>
        <result column="ROUTER_STEP_ID" property="routerStepId" jdbcType="VARCHAR"/>
        <result column="OPERATION_ID" property="operationId" jdbcType="VARCHAR"/>
        <result column="PLAN_START_TIME" property="planStartTime" jdbcType="TIMESTAMP"/>
        <result column="PLAN_END_TIME" property="planEndTime" jdbcType="TIMESTAMP"/>
        <result column="STEP_NAME" property="stepName" jdbcType="VARCHAR"/>
        <result column="EO_NUM" property="eoNum" jdbcType="VARCHAR"/>
        <result column="MATERIAL_ID" property="materialId" jdbcType="VARCHAR"/>
        <result column="WORK_ORDER_ID" property="workOrderId" jdbcType="VARCHAR"/>
        <result column="QTY" property="qty" jdbcType="DECIMAL"/>
        <result column="SPECIAL_ID" property="specialId" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="eoDispatchProcessQueryById" resultMap="BaseResultMap">
        select *
        from mt_eo_dispatch_process
        where 1 = 1
        and TENANT_ID =#{tenantId}
        and EO_DISPATCH_PROCESS_ID in
        <foreach collection="processIds" open="(" separator="," close=")" item="item">
            #{item}
        </foreach>
    </select>

    <select id="propertyLimitDispatchedProcessPropertyQuery" resultMap="BaseResultMap">
        select t.*
        from mt_eo_dispatch_process t
        where t.TENANT_ID=#{tenantId}
        <if test="vo.eoDispatchProcessId != null">
            and t.EO_DISPATCH_PROCESS_ID=#{vo.eoDispatchProcessId}
        </if>
        <if test="vo.eoId != null">
            and t.EO_ID=#{vo.eoId}
        </if>
        <if test="vo.routerStepId != null">
            and t.ROUTER_STEP_ID=#{vo.routerStepId}
        </if>
        <if test="vo.operationId != null">
            and t.OPERATION_ID=#{vo.operationId}
        </if>
        <if test="vo.priority != null">
            and t.PRIORITY=#{vo.priority}
        </if>
        <if test="vo.planStartTimeFrom != null">
            and t.PLAN_START_TIME &gt;= DATE_FORMAT(#{vo.planStartTimeFrom},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="vo.planStartTimeTo != null">
            and t.PLAN_START_TIME &lt;= DATE_FORMAT(#{vo.planStartTimeTo},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="vo.planEndTimeFrom != null">
            and t.PLAN_END_TIME &gt;= DATE_FORMAT(#{vo.planEndTimeFrom},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="vo.planEndTimeTo != null">
            and t.PLAN_END_TIME &lt;= DATE_FORMAT(#{vo.planEndTimeTo},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="vo.shiftDateFrom != null">
            and t.SHIFT_DATE &gt;= DATE_FORMAT(#{vo.shiftDateFrom},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="vo.shiftDateTo != null">
            and t.SHIFT_DATE &lt;= DATE_FORMAT(#{vo.shiftDateTo},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="vo.shiftCode != null">
            and t.SHIFT_CODE=#{vo.shiftCode}
        </if>
        <if test="vo.workcellId != null">
            and t.WORKCELL_ID=#{vo.workcellId}
        </if>
        <if test="vo.status != null">
            and t.STATUS=#{vo.status}
        </if>
    </select>

    <select id="propertyLimitDispatchedProcessPropertyBatchQuery" resultMap="BaseResultMap">
        select t.*
        from mt_eo_dispatch_process t
        where t.TENANT_ID=#{tenantId}
        <if test="vo.eoDispatchProcessIdList!= null and vo.eoDispatchProcessIdList.size()>0">
            and t.EO_DISPATCH_PROCESS_ID IN
            <foreach collection="vo.eoDispatchProcessIdList" item="eoDispatchProcessId" separator="," open="(" close=")"
                     index="index">
                #{eoDispatchProcessId}
            </foreach>
        </if>
        <if test="vo.eoIdList != null and vo.eoIdList.size()>0">
            and t.EO_ID IN
            <foreach collection="vo.eoIdList" item="eoId" separator="," open="(" close=")" index="index">
                #{eoId}
            </foreach>
        </if>
        <if test="vo.routerStepIdList != null and vo.routerStepIdList.size()>0">
            and t.ROUTER_STEP_ID IN
            <foreach collection="vo.routerStepIdList" item="routerStepId" separator="," open="(" close=")"
                     index="index">
                #{routerStepId}
            </foreach>
        </if>
        <if test="vo.operationIdList != null and vo.operationIdList.size()>0">
            and t.OPERATION_ID IN
            <foreach collection="vo.operationIdList" item="operationId" separator="," open="(" close=")" index="index">
                #{operationId}
            </foreach>
        </if>
        <if test="vo.planStartTimeFrom != null">
            and t.PLAN_START_TIME &gt;= DATE_FORMAT(#{vo.planStartTimeFrom},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="vo.planStartTimeTo != null">
            and t.PLAN_START_TIME &lt;= DATE_FORMAT(#{vo.planStartTimeTo},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="vo.planEndTimeFrom != null">
            and t.PLAN_END_TIME &gt;= DATE_FORMAT(#{vo.planEndTimeFrom},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="vo.planEndTimeTo != null">
            and t.PLAN_END_TIME &lt;= DATE_FORMAT(#{vo.planEndTimeTo},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="vo.shiftDateFrom != null">
            and t.SHIFT_DATE &gt;= DATE_FORMAT(#{vo.shiftDateFrom},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="vo.shiftDateTo != null">
            and t.SHIFT_DATE &lt;= DATE_FORMAT(#{vo.shiftDateTo},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="vo.shiftCodeList != null and vo.shiftCodeList.size()>0">
            and t.SHIFT_CODE IN
            <foreach collection="vo.shiftCodeList" item="shiftCode" separator="," open="(" close=")" index="index">
                #{shiftCode}
            </foreach>
        </if>
        <if test="vo.workcellIdList != null and vo.workcellIdList.size()>0">
            and t.WORKCELL_ID IN
            <foreach collection="vo.workcellIdList" item="workcellId" separator="," open="(" close=")" index="index">
                #{workcellId}
            </foreach>
        </if>
    </select>

    <select id="dispatchPlatformEoQueryUi" resultMap="UiResultMap">
        SELECT
        e.EO_ID,
        e.EO_NUM,
        e.WORK_ORDER_ID,
        e.MATERIAL_ID,
        e.QTY,
        rs.ROUTER_STEP_ID,
        e.PLAN_START_TIME,
        e.PLAN_END_TIME,
        ro.OPERATION_ID,
        rs.STEP_NAME,
        CONCAT(
        er.EO_ROUTER_ID,
        ':',
        RO.ROUTER_OPERATION_ID) SPECIAL_ID
        FROM
        mt_eo e,
        mt_eo_router er,
        mt_router_step rs,
        mt_router_operation ro
        WHERE
        e.TENANT_ID = #{tenantId}
        AND er.TENANT_ID = #{tenantId}
        AND rs.TENANT_ID = #{tenantId}
        AND ro.TENANT_ID = #{tenantId}
        AND e.EO_ID = er.EO_ID
        AND er.ROUTER_ID = rs.ROUTER_ID
        AND rs.ROUTER_STEP_ID = ro.ROUTER_STEP_ID
        AND e.PRODUCTION_LINE_ID = #{dto.prodLineId}
        AND e.SITE_ID = #{dto.defaultSiteId}
        AND ro.OPERATION_ID = #{dto.operationId}
        AND e.`STATUS` IN (
        'RELEASED',
        'WORKING',
        'HOLD'
        )
        <if test="dto.workOrderId != null">
            and e.WORK_ORDER_ID=#{dto.workOrderId}
        </if>
        <if test="dto.eoId != null">
            and e.EO_ID=#{dto.eoId}
        </if>
        <if test="dto.materialId != null">
            and e.MATERIAL_ID=#{dto.materialId}
        </if>
        <if test='dto.onlyUnDispatchFlag != null and dto.onlyUnDispatchFlag=="Y"'>
            AND NOT EXISTS (
            SELECT
            1
            FROM
            mt_eo_dispatch_action ea
            WHERE
            ea.EO_ID = e.EO_ID
            UNION ALL
            SELECT
            1
            FROM
            mt_eo_dispatch_process ep
            WHERE
            ep.EO_ID = e.EO_ID
            )
        </if>
        <if test='dto.onlyDispatchFlag != null and dto.onlyDispatchFlag=="Y"'>
            AND EXISTS (
            SELECT
            1
            FROM
            mt_eo_dispatch_action ea
            WHERE
            ea.EO_ID = e.EO_ID
            UNION ALL
            SELECT
            1
            FROM
            mt_eo_dispatch_process ep
            WHERE
            ep.EO_ID = e.EO_ID
            )
        </if>
        ORDER BY e.PLAN_START_TIME,e.EO_NUM
    </select>

    <select id="eoAndRouterStepLimitQuery" resultMap="BaseResultMap">
        SELECT
            t.*
        FROM
            mt_eo_dispatch_process t
        WHERE
            1 = 1
            AND t.TENANT_ID = ${tenantId}
            <if test="dtos != null and dtos.size() > 0">
                <foreach collection="dtos" item="item" open="AND (" separator="OR" close=")">
                     ( t.EO_ID = #{item.eoId} AND t.ROUTER_STEP_ID = #{item.routerStepId} )
                </foreach>
            </if>
            <if test="workcellId != null">
                AND t.WORKCELL_ID = #{workcellId}
            </if>
    </select>
</mapper>