<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.tarzan.common.infra.mapper.MtNumrangeObjectNumMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="io.tarzan.common.domain.entity.MtNumrangeObjectNum">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="NUMRANGE_OBJECT_NUM_ID" property="numrangeObjectNumId" jdbcType="VARCHAR"/>
        <result column="NUMRANGE_ID" property="numrangeId" jdbcType="VARCHAR"/>
        <result column="OBJECT_COMBINATION" property="objectCombination" jdbcType="VARCHAR"/>
        <result column="NUM_CURRENT" property="numCurrent" jdbcType="VARCHAR"/>
        <result column="NUM_RESET_LASTDATE" property="numResetLastdate" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="selectByObjectCombination" resultMap="BaseResultMap">
        SELECT
           t.*
        FROM
           mt_numrange_object_num t
        WHERE
            t.TENANT_ID=${tenantId}
         AND t.NUMRANGE_ID=#{dto.numrangeId}
         AND t.OBJECT_COMBINATION IN
        <foreach collection="combinations" index="in" item="i" open="(" close=")" separator=",">
            #{i}
        </foreach>
    </select>
</mapper>