<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.hme.infra.mapper.HmeCosScrapBackMapper">

    <select id="queryCosScrap" resultType="com.ruike.hme.domain.vo.HmeCosScrapBackVO2">
        SELECT
        hcs.cos_scrap_id,
        hcs.WORK_ORDER_ID,
        mwo.WORK_ORDER_NUM,
        mml.MATERIAL_LOT_ID,
        mml.MATERIAL_LOT_CODE,
        hcs.ATTRIBUTE1 scrap_row,
        hcs.ATTRIBUTE2 scrap_column,
        hcs.hot_sink_code,
        hcs.DEFECT_COUNT,
        nc.NC_CODE,
        nc.DESCRIPTION nc_code_desc,
        hcs.creation_date,
        hcs.cos_type,
        hcs.WAFER_NUM,
        hcs.load_sequence,
        mw.WORKCELL_CODE
        FROM
        hme_cos_scrap hcs,
        mt_mod_workcell mw,
        mt_material_lot mml,
        mt_nc_code nc,
        mt_work_order mwo
        WHERE
        hcs.TENANT_ID = #{tenantId}
        AND mwo.TENANT_ID = hcs.TENANT_ID
        AND mml.TENANT_ID = mwo.TENANT_ID
        AND nc.TENANT_ID = mml.TENANT_ID
        AND mw.WORKCELL_ID = hcs.WORKCELL_ID
        AND hcs.MATERIAL_LOT_ID = mml.MATERIAL_LOT_ID
        AND hcs.NC_CODE_ID = nc.NC_CODE_ID
        AND hcs.WORK_ORDER_ID = mwo.WORK_ORDER_ID
        AND IFNULL(hcs.ATTRIBUTE3, '') != 'N'
        <if test="backVO.workOrderNum != null and backVO.workOrderNum != ''">
            AND mwo.work_order_num LIKE CONCAT(#{backVO.workOrderNum}, '%')
        </if>
        <if test="backVO.materialLotCode != null and backVO.materialLotCode != ''">
            AND mml.MATERIAL_LOT_CODE LIKE CONCAT(#{backVO.materialLotCode}, '%')
        </if>
        <if test="backVO.hotSinkCode != null and backVO.hotSinkCode != ''">
            AND hcs.hot_sink_code LIKE CONCAT(#{backVO.hotSinkCode}, '%')
        </if>
        <if test="backVO.workcellId != null and backVO.workcellId != ''">
            AND hcs.WORKCELL_ID = #{backVO.workcellId}
        </if>
        <if test="backVO.ncCodeId != null and backVO.ncCodeId != ''">
            AND hcs.NC_CODE_ID = #{backVO.ncCodeId}
        </if>
        <if test="backVO.cosType != null and backVO.cosType != ''">
            AND hcs.cos_type = #{backVO.cosType}
        </if>
        <if test="backVO.wafer != null and backVO.wafer != ''">
            AND hcs.WAFER_NUM = #{backVO.wafer}
        </if>
        <if test="backVO.startScrapTime != null and backVO.startScrapTime != ''">
            AND hcs.creation_date >= #{backVO.startScrapTime}
        </if>
        <if test="backVO.endScrapTime != null and backVO.endScrapTime != ''">
            AND hcs.creation_date <![CDATA[<=]]> #{backVO.endScrapTime}
        </if>
    </select>

    <update id="batchLoadUpdate">
        UPDATE hme_material_lot_load
        <set>
            object_version_number = object_version_number + 1,
            last_updated_by = #{userId},
            last_update_date = CURRENT_TIMESTAMP,
            material_lot_id =
            <foreach collection="materialLotLoadList" item="item" index="index"
                     separator=" " open="case material_lot_load_id" close="end">
                when #{item.materialLotLoadId} then #{item.materialLotId}
            </foreach>,
            load_row =
            <foreach collection="materialLotLoadList" item="item" index="index"
                     separator=" " open="case material_lot_load_id" close="end">
                when #{item.materialLotLoadId} then #{item.loadRow}
            </foreach>,
            load_column =
            <foreach collection="materialLotLoadList" item="item" index="index"
                     separator=" " open="case material_lot_load_id" close="end">
                when #{item.materialLotLoadId} then #{item.loadColumn}
            </foreach>,
            source_material_lot_id =
            <foreach collection="materialLotLoadList" item="item" index="index"
                     separator=" " open="case material_lot_load_id" close="end">
                when #{item.materialLotLoadId} then #{item.sourceMaterialLotId}
            </foreach>,
            status = null
        </set>
        <where>
            material_lot_load_id in
            <foreach collection="materialLotLoadList" item="item"
                     separator="," open="(" close=")">
                #{item.materialLotLoadId}
            </foreach>
        </where>
    </update>

    <update id="batchCosScrapUpdate">
        UPDATE hme_cos_scrap
        <set>
            object_version_number = object_version_number + 1,
            last_updated_by = #{userId},
            last_update_date = CURRENT_TIMESTAMP,
            ATTRIBUTE3 = 'N'
        </set>
        <where>
            cos_scrap_id in
            <foreach collection="cosScrapIdList" item="item"
                     separator="," open="(" close=")">
                #{item}
            </foreach>
        </where>
    </update>
</mapper>