<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.hme.infra.mapper.HmeCosFunctionSelectionMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.ruike.hme.domain.entity.HmeCosFunctionSelection">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="cos_function_id" property="cosFunctionId" jdbcType="VARCHAR"/>
        <result column="load_sequence" property="loadSequence" jdbcType="VARCHAR"/>
        <result column="site_id" property="siteId" jdbcType="VARCHAR"/>
        <result column="current" property="current" jdbcType="VARCHAR"/>
        <result column="A01" property="a01" jdbcType="VARCHAR"/>
        <result column="A02" property="a02" jdbcType="DECIMAL"/>
        <result column="A03" property="a03" jdbcType="VARCHAR"/>
        <result column="A04" property="a04" jdbcType="DECIMAL"/>
        <result column="A05" property="a05" jdbcType="DECIMAL"/>
        <result column="A06" property="a06" jdbcType="DECIMAL"/>
        <result column="A07" property="a07" jdbcType="DECIMAL"/>
        <result column="A08" property="a08" jdbcType="VARCHAR"/>
        <result column="A09" property="a09" jdbcType="VARCHAR"/>
        <result column="A010" property="a010" jdbcType="DECIMAL"/>
        <result column="A011" property="a011" jdbcType="DECIMAL"/>
        <result column="A012" property="a012" jdbcType="DECIMAL"/>
        <result column="A013" property="a013" jdbcType="DECIMAL"/>
        <result column="A014" property="a014" jdbcType="DECIMAL"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR"/>
        <result column="A15" property="a15" jdbcType="DECIMAL"/>
        <result column="A16" property="a16" jdbcType="DECIMAL"/>
        <result column="A17" property="a17" jdbcType="DECIMAL"/>
        <result column="A18" property="a18" jdbcType="DECIMAL"/>
        <result column="A19" property="a19" jdbcType="DECIMAL"/>
        <result column="A20" property="a20" jdbcType="DECIMAL"/>
        <result column="A21" property="a21" jdbcType="DECIMAL"/>
        <result column="A22" property="a22" jdbcType="DECIMAL"/>
        <result column="A23" property="a23" jdbcType="DECIMAL"/>
        <result column="A24" property="a24" jdbcType="VARCHAR"/>
        <result column="A25" property="a25" jdbcType="VARCHAR"/>
        <result column="A26" property="a26" jdbcType="VARCHAR"/>
        <result column="A27" property="a27" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getFunctionSelectionMaxUpdateDate" resultType="java.util.Date">
        SELECT
            IFNULL(
                max(hcfs.LAST_UPDATE_DATE),
                date_sub(NOW(), INTERVAL 2 MONTH)
            )
        FROM
            hme_cos_function_selection hcfs
        WHERE
            hcfs.TENANT_ID = #{tenantId}
    </select>

    <select id="getLoadSequenceByUpdateDate" resultType="java.lang.String">
        SELECT
            hcf.load_sequence
        FROM
            hme_cos_function hcf
        WHERE
            hcf.LAST_UPDATE_DATE > DATE_FORMAT(#{lastUpdateDate}, '%Y-%m-%d %H:%i:%S')
        AND hcf.TENANT_ID = #{tenantId}
    </select>

    <select id="loadSequenceCurrentQuery" resultType="com.ruike.hme.domain.vo.HmeCosFunctionSelectionVO">
        SELECT
            hmll.load_sequence,
            hcsc.current
        FROM
            hme_material_lot_load hmll,
            hme_cos_selection_current hcsc
        WHERE
            hmll.load_sequence in
        <foreach collection="loadSequenceList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND hmll.tenant_id = #{tenantId}
        AND hcsc.cos_type = hmll.ATTRIBUTE1
        AND hcsc.enbale_flag = 'Y'
        AND hcsc.tenant_id = hmll.tenant_id
    </select>

    <select id="cosFunctionQueryByLoadSequenceCurrent" resultType="com.ruike.hme.domain.entity.HmeCosFunctionSelection">
        select hcf.*
        from hme_cos_function hcf
        where (hcf.load_sequence, hcf.current) in
        <foreach collection="dtoList" index="index" item="item" open="(" separator="," close=")">
            (#{item.loadSequence}, #{item.current})
        </foreach>
        and hcf.tenant_id = #{tenantId}
    </select>

    <select id="getDeleteCosFunctionId" resultType="java.lang.String">
        SELECT
            hcfs.cos_function_id
        FROM
            hme_cos_function_selection hcfs
        WHERE
            hcfs.cos_function_id IN
        <foreach collection="cosFunctionIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <delete id="deleteCosFunctionSelection">
        delete from hme_cos_function_selection where cos_function_id in
        <foreach collection="cosFunctionIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getLoadSequence" resultType="java.lang.String">
        select material_lot_id
        from zgm_temp_lot_copy1
    </select>
</mapper>