<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.hme.infra.mapper.HmeCosRuleHeadMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.ruike.hme.domain.entity.HmeCosRuleHead">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="COS_RULE_ID" property="cosRuleId" jdbcType="VARCHAR"/>
        <result column="SITE_ID" property="siteId" jdbcType="VARCHAR"/>
        <result column="COS_RULE_CODE" property="cosRuleCode" jdbcType="VARCHAR"/>
        <result column="MATERIAL_ID" property="materialId" jdbcType="VARCHAR"/>
        <result column="PRODUCT_TYPE" property="productType" jdbcType="VARCHAR"/>
        <result column="COS_NUM" property="cosNum" jdbcType="DECIMAL"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR"/>
    </resultMap>
    <!--查询芯片规则头表-->
    <select id="cosRuleQuery" resultType="com.ruike.hme.api.dto.HmeCosRuleHeadDto">
        SELECT
            hcrh.site_id,
            hcrh.cos_rule_id,
            hcrh.cos_rule_code,
            hcrh.material_id,
            mm.material_code,
            hcrh.product_type,
            mm.material_name item_desc,
            hcrh.cos_num
        FROM
            hme_cos_rule_head hcrh,
            mt_material mm
        WHERE
            hcrh.material_id = mm.material_id
        AND hcrh.tenant_id =#{tenantId}
        <if test="dto.siteId != null and dto.siteId != ''">
            AND hcrh.site_id=#{dto.siteId}
        </if>
        <if test="dto.cosRuleCode != null and dto.cosRuleCode != ''">
            AND hcrh.cos_rule_code like CONCAT('%',#{dto.cosRuleCode},'%')
        </if>
    </select>
</mapper>