<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.hme.infra.mapper.HmeCosOperationRecordMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.ruike.hme.domain.entity.HmeCosOperationRecord">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="OPERATION_RECORD_ID" property="operationRecordId" jdbcType="VARCHAR"/>
        <result column="SITE_ID" property="siteId" jdbcType="VARCHAR"/>
        <result column="WORK_ORDER_ID" property="workOrderId" jdbcType="VARCHAR"/>
        <result column="CONTAINER_TYPE_ID" property="containerTypeId" jdbcType="VARCHAR"/>
        <result column="COS_TYPE" property="cosType" jdbcType="VARCHAR"/>
        <result column="AVERAGE_WAVELENGTH" property="averageWavelength" jdbcType="DECIMAL"/>
        <result column="TYPE" property="type" jdbcType="VARCHAR"/>
        <result column="LOT_NO" property="lotNo" jdbcType="VARCHAR"/>
        <result column="WAFER" property="wafer" jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="JOB_BATCH" property="jobBatch" jdbcType="VARCHAR"/>
        <result column="OPERATION_ID" property="operationId" jdbcType="VARCHAR"/>
        <result column="WORKCELL_ID" property="workcellId" jdbcType="VARCHAR"/>
        <result column="EQUIPMENT_ID" property="equipmentId" jdbcType="VARCHAR"/>
        <result column="SURPLUS_COS_NUM" property="surplusCosNum" jdbcType="VARCHAR"/>
        <result column="MATERIAL_ID" property="materialId" jdbcType="VARCHAR"/>
        <result column="BAR_NUM" property="barNum" jdbcType="DECIMAL"/>
        <result column="COS_NUM" property="cosNum" jdbcType="DECIMAL"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryLastRecord" resultMap="BaseResultMap">
        select hcor.operation_record_id,
               hcor.work_order_id,
               hcor.wafer,
               hcor.average_wavelength,
               hcor.type,
               hcor.cos_type,
               hcor.lot_no,
               hcor.remark,
               hcor.cos_num,
               hcor.surplus_cos_num,
               hcor.operation_id,
               hcor.workcell_id,
               hcor.equipment_id,
               hcor.material_id,
               hcor.attribute1
          from hme_cos_operation_record hcor
         where hcor.tenant_id = #{tenantId}
           and hcor.workcell_id = #{workcellId}
           and hcor.operation_id = #{operationId}
           <if test="equipmentId != null">
               and hcor.equirpment_id = #{equipmentId}
           </if>
           <if test='processingFlag == "Y"'>
               and hcor.surplus_cos_num > 0
           </if>
         order by hcor.last_update_date desc
         limit 1
    </select>

    <select id="queryCosSelectCurrent" resultType="java.lang.Long">
        SELECT
        	COUNT(1)
        FROM
        	hme_cos_selection_current csc
        WHERE
        	csc.tenant_id = #{tenantId}
        AND csc.cos_type = #{cosType}
        AND csc.enbale_flag = 'Y'
    </select>

    <select id="queryHotSinkMaterialLot" resultType="tarzan.inventory.domain.entity.MtMaterialLot">
        SELECT
   	        mml.MATERIAL_ID,
	        mml.MATERIAL_LOT_ID,
	        mml.PRIMARY_UOM_QTY,
	        mml.PRIMARY_UOM_ID,
	        mml.LOCATOR_ID,
	        mml.LOT,
	        mml.site_id
        FROM
        	hme_material_lot_load mll,
        	mt_material_lot mml
        WHERE mll.MATERIAL_LOT_ID = #{materialLotId}
        AND mll.TENANT_ID = #{tenantId}
        AND mml.MATERIAL_LOT_CODE = mll.ATTRIBUTE4
        AND mml.TENANT_ID = #{tenantId}
        LIMIT 1
    </select>
</mapper>