<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.hme.infra.mapper.HmeDataRecordExtendMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.ruike.hme.domain.entity.HmeDataRecordExtend">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="DATA_RECORD_EXTEND_ID" property="dataRecordExtendId" jdbcType="VARCHAR"/>
        <result column="JOB_RECORD_ID" property="jobRecordId" jdbcType="VARCHAR"/>
        <result column="JOB_ID" property="jobId" jdbcType="VARCHAR"/>
        <result column="STANDARD_VALUE" property="standardValue" jdbcType="DECIMAL"/>
        <result column="COS_STATUS" property="cosStatus" jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR"/>
    </resultMap>

    <update id="batchUpdateStandardValue">
        update hme_data_record_extend
        <set>
            object_version_number = object_version_number + 1,
            last_updated_by = #{userId},
            last_update_date = CURRENT_TIMESTAMP,
            standard_value =
            <foreach collection="updateDataRecordExtendList" item="clause" index="index"
                     separator=" " open="case data_record_extend_id" close="end">
                <choose>
                    <when test="clause.standardValue != null">
                        when #{clause.dataRecordExtendId} then #{clause.standardValue}
                    </when>
                    <otherwise>
                        when #{clause.dataRecordExtendId} then standard_value
                    </otherwise>
                </choose>
            </foreach>,
            cos_status =
            <foreach collection="updateDataRecordExtendList" item="clause" index="index"
                     separator=" " open="case data_record_extend_id" close="end">
                <choose>
                    <when test="clause.cosStatus != null">
                        when #{clause.dataRecordExtendId} then #{clause.cosStatus}
                    </when>
                    <otherwise>
                        when #{clause.dataRecordExtendId} then cos_status
                    </otherwise>
                </choose>
            </foreach>,
            attribute1 =
            <foreach collection="updateDataRecordExtendList" item="clause" index="index"
                     separator=" " open="case data_record_extend_id" close="end">
                <choose>
                    <when test="clause.attribute1 != null">
                        when #{clause.dataRecordExtendId} then #{clause.attribute1}
                    </when>
                    <otherwise>
                        when #{clause.dataRecordExtendId} then attribute1
                    </otherwise>
                </choose>
            </foreach>
        </set>
        <where>
            tenant_id = #{tenantId}
            and data_record_extend_id in
            <foreach collection="updateDataRecordExtendList" item="clause"
                     separator="," open="(" close=")">
                #{clause.dataRecordExtendId}
            </foreach>
        </where>
    </update>
</mapper>