<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.hme.infra.mapper.HmeExcGroupAssignMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.ruike.hme.domain.entity.HmeExcGroupAssign">
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="exception_group_assign_id" property="exceptionGroupAssignId" jdbcType="VARCHAR"/>
        <result column="exception_group_id" property="exceptionGroupId" jdbcType="VARCHAR"/>
        <result column="serial_number" property="serialNumber" jdbcType="DECIMAL"/>
        <result column="exception_id" property="exceptionId" jdbcType="VARCHAR"/>
        <result column="enable_flag" property="enableFlag" jdbcType="VARCHAR"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectByExceptionGroupId"
            resultType="com.ruike.hme.domain.entity.HmeExcGroupAssign">
        <bind name="locale" value="@org.hzero.core.helper.LanguageHelper@language()"/>
        select ega.tenant_id,
        ega.exception_group_assign_id,
        ega.exception_group_id,
        ega.serial_number,
        ega.exception_id,
        exc.exception_type,
        tl.DESCRIPTION exception_type_name,
        exc.exception_code,
        exc.exception_name,
        ega.enable_flag,
        ega.object_version_number,
        ega.creation_date,
        ega.created_by,
        ega.last_updated_by,
        ega.last_update_date
        from   mt_gen_type mgt
        left join mt_gen_type_tl tl on mgt.GEN_TYPE_ID = tl.GEN_TYPE_ID and tl.LANG = #{locale}
        ,hme_exception exc
        ,hme_exc_group_assign ega
        where exc.exception_type = mgt.TYPE_CODE
        and   mgt.TYPE_GROUP = 'EXCEPTION_TYPE'
        and   ega.exception_id = exc.exception_id
        and   ega.tenant_id = #{tenantId}
        and   ega.exception_group_id = #{exceptionGroupId}
    </select>
</mapper>