<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.hme.infra.mapper.HmeEoRelMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.ruike.hme.domain.entity.HmeEoRel">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="EO_REL_ID" property="eoRelId" jdbcType="VARCHAR"/>
        <result column="EO_ID" property="eoId" jdbcType="VARCHAR"/>
        <result column="TOP_EO_ID" property="topEoId" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryOldCodeAttrList" resultType="io.tarzan.common.domain.vo.MtExtendAttrVO">
        SELECT
        	attr.ATTR_NAME,
			attr.ATTR_VALUE
        FROM
        	mt_eo_attr ea,
        	mt_material_lot mml
        	LEFT JOIN mt_material_lot_attr attr ON attr.MATERIAL_LOT_ID = mml.MATERIAL_LOT_ID
        WHERE ea.TENANT_ID = #{tenantId}
        AND ea.EO_ID = #{eoId}
        AND ea.ATTR_NAME = 'REWORK_MATERIAL_LOT'
        AND mml.MATERIAL_LOT_CODE = ea.ATTR_VALUE
        AND mml.TENANT_ID = #{tenantId}
		AND attr.ATTR_NAME IN ( 'REWORK_FLAG', 'OLD_BARCODE_IN_FLAG')
    </select>
</mapper>