<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.hme.infra.mapper.HmeExcWkcRecordHisMapper">
    <resultMap id="BaseResultMap" type="com.ruike.hme.domain.entity.HmeExcWkcRecordHis">
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="exception_wkc_record_his_id" property="exceptionWkcRecordHisId" jdbcType="VARCHAR"/>
        <result column="exception_wkc_record_id" property="exceptionWkcRecordId" jdbcType="VARCHAR"/>
        <result column="sn_num" property="snNum" jdbcType="VARCHAR"/>
        <result column="eo_id" property="eoId" jdbcType="VARCHAR"/>
        <result column="material_id" property="materialId" jdbcType="VARCHAR"/>
        <result column="material_lot_code" property="materialLotCode" jdbcType="VARCHAR"/>
        <result column="equipment_id" property="equipmentId" jdbcType="VARCHAR"/>
        <result column="workcell_id" property="workcellId" jdbcType="VARCHAR"/>
        <result column="wkc_shift_id" property="wkcShiftId" jdbcType="VARCHAR"/>
        <result column="shift_id" property="shiftId" jdbcType="VARCHAR"/>
        <result column="exception_id" property="exceptionId" jdbcType="VARCHAR"/>
        <result column="exception_status" property="exceptionStatus" jdbcType="VARCHAR"/>
        <result column="attachment_uuid" property="attachmentUuid" jdbcType="VARCHAR"/>
        <result column="exception_group_id" property="exceptionGroupId" jdbcType="VARCHAR"/>
        <result column="exception_level" property="exceptionLevel" jdbcType="DECIMAL"/>
        <result column="exception_remark" property="exceptionRemark" jdbcType="VARCHAR"/>
        <result column="respond_time" property="respondTime" jdbcType="DATE"/>
        <result column="responded_by" property="respondedBy" jdbcType="VARCHAR"/>
        <result column="respond_remark" property="respondRemark" jdbcType="VARCHAR"/>
        <result column="close_time" property="closeTime" jdbcType="DATE"/>
        <result column="closed_by" property="closedBy" jdbcType="DECIMAL"/>
        <result column="prod_flag" property="prodFlag" jdbcType="VARCHAR"/>
        <result column="prod_batch_id" property="prodBatchId" jdbcType="VARCHAR"/>
        <result column="prod_date" property="prodDate" jdbcType="DATE"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>