<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.hme.infra.mapper.HmeNameplatePrintRelHeaderMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.ruike.hme.domain.entity.HmeNameplatePrintRelHeader">
                    <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
                    <result column="nameplate_header_id" property="nameplateHeaderId" jdbcType="VARCHAR"/>
                    <result column="type" property="type" jdbcType="VARCHAR"/>
                    <result column="identifying_code" property="identifyingCode" jdbcType="VARCHAR"/>
                    <result column="enable_flag" property="enableFlag" jdbcType="VARCHAR"/>
                    <result column="cid" property="cid" jdbcType="DECIMAL"/>
                    <result column="nameplate_order" property="nameplateOrder" jdbcType="TINYINT"/>
                    <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
                    <result column="creation_date" property="creationDate" jdbcType="DATE"/>
                    <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
                    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
                    <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
                    <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR"/>
                    <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR"/>
            </resultMap>

    <select id="queryPrintRelHeader" resultType="com.ruike.hme.domain.vo.HmeNameplatePrintRelHeaderVO">
        SELECT
                hnprh.nameplate_header_id,
                hnprh.type,
                hnprh.nameplate_order,
                hnprh.identifying_code,
                hnprh.enable_flag
        FROM
                hme_nameplate_print_rel_header hnprh
        WHERE
                hnprh.tenant_id =#{tenantId}
        <if test="dto.type !=null and dto.type !=''">
            and  hnprh.type =#{dto.type}
        </if>
        <if test="dto.identifyingCode !=null and dto.identifyingCode !=''">
            and  hnprh.identifying_code LIKE CONCAT('%', #{dto.identifyingCode}, '%')
        </if>
        <if test="dto.enableFlag !=null and dto.enableFlag !=''">
            and  hnprh.enable_flag =#{dto.enableFlag}
        </if>
        order by hnprh.nameplate_order asc
    </select>

    <select id="queryPrintRelHeaderAndLine" resultType="com.ruike.hme.domain.vo.HmeNameplatePrintRelHeaderAndLineVO">
        SELECT
                hnprhh.type,
                hnprhh.identifying_code,
                hnprhh.enable_flag as enableFlagHeader,
                hnprhh.last_updated_by as lastUpdatedByHeader,
                hnprhh.LAST_UPDATE_DATE as lastUpdateDateHeader,
                mm.MATERIAL_CODE,
                mm.MATERIAL_NAME,
                hnprlh.qty,
                hnprlh.enable_flag as enableFlagLine,
                hnprlh.last_updated_by as lastUpdatedByLine,
                hnprlh.last_update_date as lastUpdateDateLine
        FROM
                hme_nameplate_print_rel_header_his hnprhh
                LEFT JOIN hme_nameplate_print_rel_line_his hnprlh ON hnprhh.tenant_id = hnprlh.tenant_id
                AND hnprhh.nameplate_header_his_id = hnprlh.nameplate_header_his_id
                LEFT JOIN mt_material mm ON hnprlh.material_Id = mm.MATERIAL_ID
                AND hnprlh.tenant_id = mm.TENANT_ID
        WHERE
                hnprhh.nameplate_header_id =#{nameplateHeaderId}
    </select>

    <select id="QueryOneByOrder" resultType="java.lang.String">
        SELECT
                hnprh.nameplate_header_id
        FROM
                hme_nameplate_print_rel_header hnprh
        WHERE
                hnprh.tenant_id = #{tenantId}
                AND hnprh.nameplate_order=#{nameplateOrder}
    </select>
</mapper>