<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.hme.infra.mapper.HmePumpFilterRuleLineMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.ruike.hme.domain.entity.HmePumpFilterRuleLine">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="RULE_LINE_ID" property="ruleLineId" jdbcType="VARCHAR"/>
        <result column="RULE_HEAD_ID" property="ruleHeadId" jdbcType="VARCHAR"/>
        <result column="PARAMETER_CODE" property="parameterCode" jdbcType="VARCHAR"/>
        <result column="TAG_ID" property="tagId" jdbcType="VARCHAR"/>
        <result column="CALCULATE_TYPE" property="calculateType" jdbcType="VARCHAR"/>
        <result column="MIN_VALUE" property="minValue" jdbcType="DECIMAL"/>
        <result column="MAX_VALUE" property="maxValue" jdbcType="DECIMAL"/>
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR"/>
        <result column="FORMULA" property="formula" jdbcType="VARCHAR"/>
        <result column="SEQUENCE" property="sequence" jdbcType="DECIMAL"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryNearHeaderHisId" resultType="java.lang.String">
        SELECT
        	rhh.rule_head_his_id
        FROM
        	hme_pump_filter_rule_header_his rhh
        WHERE rhh.tenant_id = #{tenantId}
        AND rhh.rule_head_id = #{ruleHeadId}
        ORDER BY CREATION_DATE DESC
        LIMIT 1
    </select>

    <update id="myUpdate">
        update hme_pump_filter_rule_line
        set object_version_number = object_version_number + 1,
            last_updated_by = #{userId},
            last_update_date = CURRENT_TIMESTAMP,
            rule_head_id = #{dto.ruleHeadId},
            parameter_code = #{dto.parameterCode},
            tag_id = #{dto.tagId},
            calculate_type = #{dto.calculateType},
            min_value = #{dto.minValue},
            max_value = #{dto.maxValue},
            enable_flag = #{dto.enableFlag},
            formula = #{dto.formula},
            sequence = #{dto.sequence},
            priority = #{dto.priority}
        where
            rule_line_id = #{dto.ruleLineId}
            AND tenant_id = #{tenantId}
    </update>
</mapper>