<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.hme.infra.mapper.HmeProcessNcLineMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.ruike.hme.domain.entity.HmeProcessNcLine">
        <result column="line_id" property="lineId" jdbcType="VARCHAR"/>
        <result column="header_id" property="headerId" jdbcType="VARCHAR"/>
        <result column="tag_id" property="tagId" jdbcType="VARCHAR"/>
        <result column="tag_group_id" property="tagGroupId" jdbcType="VARCHAR"/>
        <result column="priority" property="priority" jdbcType="VARCHAR"/>
        <result column="standard_code" property="standardCode" jdbcType="VARCHAR"/>
        <result column="cid" property="cid" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectProcessLine" resultType="com.ruike.hme.domain.vo.HmeProcessNcLineVO">
        SELECT
            pnl.line_id,
            pnl.header_id,
            pnl.tag_id,
            pnl.tag_group_id,
            pnl.priority,
            pnl.standard_code,
            t.tag_code,
            t.tag_description,
            tg.tag_group_code,
            tg.tag_group_description
        FROM
            hme_process_nc_line pnl
            LEFT JOIN mt_tag_group tg ON pnl.tag_group_id = tg.tag_group_id,
            mt_tag t
        WHERE
            pnl.tag_id = t.tag_id
            and pnl.tenant_id = #{tenantId}
            and pnl.header_id = #{headerId}
    </select>

    <delete id="deleteLineByHeader">
        DELETE
        FROM
            hme_process_nc_line
        WHERE
            tenant_id = #{tenantId}
            and header_id = #{headerId}
    </delete>

    <update id="batchHeaderUpdate">
        UPDATE hme_process_nc_line
        <set>
            object_version_number = object_version_number + 1,
            last_updated_by = #{userId},
            last_update_date = CURRENT_TIMESTAMP,
            priority =
            <foreach collection="domains" item="item" index="index"
                     separator=" " open="case line_id" close="end">
                when #{item.lineId} then #{item.priority}
            </foreach>
        </set>
        <where>
            line_id in
            <foreach collection="domains" item="item"
                     separator="," open="(" close=")">
                #{item.lineId}
            </foreach>
        </where>
    </update>

    <select id="queryProcessNcLineList" resultType="com.ruike.hme.domain.entity.HmeProcessNcLine">
        SELECT
        pnl.line_id
        FROM
        hme_process_nc_line pnl
        WHERE pnl.tenant_id = #{tenantId}
        AND pnl.header_id = #{hmeProcessNcLine.headerId}
        AND pnl.tag_id = #{hmeProcessNcLine.tagId}
        <choose>
            <when test="hmeProcessNcLine.tagGroupId != null">
                AND pnl.tag_group_id = #{hmeProcessNcLine.tagGroupId}
            </when>
            <otherwise>
                AND (pnl.tag_group_id is null OR pnl.tag_group_id = '')
            </otherwise>
        </choose>
        <choose>
            <when test="hmeProcessNcLine.standardCode != null">
                AND pnl.standard_code = #{hmeProcessNcLine.standardCode}
            </when>
            <otherwise>
                AND (pnl.standard_code is null OR pnl.standard_code = '')
            </otherwise>
        </choose>
    </select>
</mapper>