<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.hme.infra.mapper.HmeServiceReceiveHisMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.ruike.hme.domain.entity.HmeServiceReceiveHis">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="SITE_ID" property="siteId" jdbcType="VARCHAR"/>
        <result column="SERVICE_RECEIVE_HIS_ID" property="serviceReceiveHisId" jdbcType="VARCHAR"/>
        <result column="SERVICE_RECEIVE_ID" property="serviceReceiveId" jdbcType="VARCHAR"/>
        <result column="LOGISTICS_INFO_ID" property="logisticsInfoId" jdbcType="VARCHAR"/>
        <result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR"/>
        <result column="MATERIAL_LOT_ID" property="materialLotId" jdbcType="VARCHAR"/>
        <result column="SN_NUM" property="snNum" jdbcType="VARCHAR"/>
        <result column="MATERIAL_ID" property="materialId" jdbcType="VARCHAR"/>
        <result column="PRODUCTION_VERSION" property="productionVersion" jdbcType="VARCHAR"/>
        <result column="RECEIVE_BY" property="receiveBy" jdbcType="DECIMAL"/>
        <result column="RECEIVE_DATE" property="receiveDate" jdbcType="DATE"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="RECEIVE_STATUS" property="receiveStatus" jdbcType="VARCHAR"/>
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR"/>
        <result column="EVENT_ID" property="eventId" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>