<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.hme.infra.mapper.HmeToolHisMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.ruike.hme.domain.entity.HmeToolHis">
        <result column="tool_his_id" property="toolHisId" jdbcType="VARCHAR"/>
        <result column="tool_id" property="toolId" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="tool_name" property="toolName" jdbcType="VARCHAR"/>
        <result column="area_id" property="areaId" jdbcType="VARCHAR"/>
        <result column="work_shop_id" property="workShopId" jdbcType="VARCHAR"/>
        <result column="workcell_id" property="workcellId" jdbcType="VARCHAR"/>
        <result column="brand_name" property="brandName" jdbcType="VARCHAR"/>
        <result column="specification" property="specification" jdbcType="VARCHAR"/>
        <result column="uom_id" property="uomId" jdbcType="VARCHAR"/>
        <result column="qty" property="qty" jdbcType="DECIMAL"/>
        <result column="rate" property="rate" jdbcType="VARCHAR"/>
        <result column="enable_flag" property="enableFlag" jdbcType="VARCHAR"/>
        <result column="cid" property="cid" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectHmeToolHis" resultType="com.ruike.hme.domain.vo.HmeToolHisVO">
        SELECT
            tool_his_id,
            tool_name,
            brand_name,
            specification,
            uom_name,
            qty,
            rate,
            hme_tool_his.enable_flag,
            hme_tool_his.last_update_date,
            iam_user.real_name NAME
        FROM
            hme_tool_his,
            mt_uom,
            iam_user
        WHERE
            hme_tool_his.uom_id = mt_uom.uom_id
        and hme_tool_his.last_updated_by = iam_user.id
        and hme_tool_his.tenant_id = #{tenantId}
        and hme_tool_his.tool_id = #{hmeToolHisDTO.toolId}
        order by hme_tool_his.last_update_date desc
    </select>
</mapper>