<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.hme.infra.mapper.HmeWipStocktakeActualMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.ruike.hme.domain.entity.HmeWipStocktakeActual">
        <result column="STOCKTAKE_ACTUAL_ID" property="stocktakeActualId" jdbcType="VARCHAR"/>
        <result column="STOCKTAKE_ID" property="stocktakeId" jdbcType="VARCHAR"/>
        <result column="SITE_ID" property="siteId" jdbcType="VARCHAR"/>
        <result column="MATERIAL_LOT_ID" property="materialLotId" jdbcType="VARCHAR"/>
        <result column="LOT_CODE" property="lotCode" jdbcType="VARCHAR"/>
        <result column="MATERIAL_ID" property="materialId" jdbcType="VARCHAR"/>
        <result column="WORK_ORDER_ID" property="workOrderId" jdbcType="VARCHAR"/>
        <result column="PROD_LINE_ID" property="prodLineId" jdbcType="VARCHAR"/>
        <result column="WORKCELL_ID" property="workcellId" jdbcType="VARCHAR"/>
        <result column="CONTAINER_ID" property="containerId" jdbcType="VARCHAR"/>
        <result column="OWNER_TYPE" property="ownerType" jdbcType="VARCHAR"/>
        <result column="OWNER_ID" property="ownerId" jdbcType="VARCHAR"/>
        <result column="RESERVED_OBJECT_TYPE" property="reservedObjectType" jdbcType="VARCHAR"/>
        <result column="RESERVED_OBJECT_ID" property="reservedObjectId" jdbcType="VARCHAR"/>
        <result column="UOM_ID" property="uomId" jdbcType="VARCHAR"/>
        <result column="CURRENT_QUANTITY" property="currentQuantity" jdbcType="DECIMAL"/>
        <result column="FIRSTCOUNT_MATERIAL_ID" property="firstcountMaterialId" jdbcType="VARCHAR"/>
        <result column="FIRSTCOUNT_UOM_ID" property="firstcountUomId" jdbcType="VARCHAR"/>
        <result column="FIRSTCOUNT_PROD_LINE_ID" property="firstcountProdLineId" jdbcType="VARCHAR"/>
        <result column="FIRSTCOUNT_WORKCELL_ID" property="firstcountWorkcellId" jdbcType="VARCHAR"/>
        <result column="FIRSTCOUNT_CONTAINER_ID" property="firstcountContainerId" jdbcType="VARCHAR"/>
        <result column="FIRSTCOUNT_LOCATION_ROW" property="firstcountLocationRow" jdbcType="DECIMAL"/>
        <result column="FIRSTCOUNT_LOCATION_COLUMN" property="firstcountLocationColumn" jdbcType="DECIMAL"/>
        <result column="FIRSTCOUNT_OWNER_TYPE" property="firstcountOwnerType" jdbcType="VARCHAR"/>
        <result column="FIRSTCOUNT_OWNER_ID" property="firstcountOwnerId" jdbcType="VARCHAR"/>
        <result column="FIRSTCOUNT_RESERVED_OBJECT_TY" property="firstcountReservedObjectTy" jdbcType="VARCHAR"/>
        <result column="FIRSTCOUNT_RESERVED_OBJECT_ID" property="firstcountReservedObjectId" jdbcType="VARCHAR"/>
        <result column="FIRSTCOUNT_QUANTITY" property="firstcountQuantity" jdbcType="DECIMAL"/>
        <result column="FIRSTCOUNT_BY" property="firstcountBy" jdbcType="DECIMAL"/>
        <result column="FIRSTCOUNT_DATE" property="firstcountDate" jdbcType="DATE"/>
        <result column="FIRSTCOUNT_REMARK" property="firstcountRemark" jdbcType="VARCHAR"/>
        <result column="RECOUNT_MATERIAL_ID" property="recountMaterialId" jdbcType="VARCHAR"/>
        <result column="RECOUNT_UOM_ID" property="recountUomId" jdbcType="VARCHAR"/>
        <result column="RECOUNT_PROD_LINE_ID" property="recountProdLineId" jdbcType="VARCHAR"/>
        <result column="RECOUNT_WORKCELL_ID" property="recountWorkcellId" jdbcType="VARCHAR"/>
        <result column="RECOUNT_CONTAINER_ID" property="recountContainerId" jdbcType="VARCHAR"/>
        <result column="RECOUNT_LOCATION_ROW" property="recountLocationRow" jdbcType="DECIMAL"/>
        <result column="RECOUNT_LOCATION_COLUMN" property="recountLocationColumn" jdbcType="DECIMAL"/>
        <result column="RECOUNT_OWNER_TYPE" property="recountOwnerType" jdbcType="VARCHAR"/>
        <result column="RECOUNT_OWNER_ID" property="recountOwnerId" jdbcType="VARCHAR"/>
        <result column="RECOUNT_RESERVED_OBJECT_TYPE" property="recountReservedObjectType" jdbcType="VARCHAR"/>
        <result column="RECOUNT_RESERVED_OBJECT_ID" property="recountReservedObjectId" jdbcType="VARCHAR"/>
        <result column="RECOUNT_QUANTITY" property="recountQuantity" jdbcType="DECIMAL"/>
        <result column="RECOUNT_BY" property="recountBy" jdbcType="DECIMAL"/>
        <result column="RECOUNT_DATE" property="recountDate" jdbcType="DATE"/>
        <result column="RECOUNT_REMARK" property="recountRemark" jdbcType="VARCHAR"/>
        <result column="ADJUST_FLAG" property="adjustFlag" jdbcType="VARCHAR"/>
        <result column="LATEST_HIS_ID" property="latestHisId" jdbcType="VARCHAR"/>
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryEoByRepairMaterialLot" resultType="com.ruike.hme.domain.vo.HmeWipStocktakeActualVO">
        select mml.material_lot_id, me.eo_id as top_eo_id, her.eo_id, her.last_update_date
        from mt_material_lot mml,
             mt_eo me,
             hme_eo_rel her
        where mml.material_lot_id in
        <foreach collection="materialLotIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and me.IDENTIFICATION = mml.MATERIAL_LOT_CODE
        and me.TENANT_ID = #{tenantId}
        and her.top_eo_id = me.eo_id
        and her.TENANT_ID = me.TENANT_ID
    </select>

    <select id="queryWipStocktakeActualByEo" resultType="com.ruike.hme.domain.entity.HmeWipStocktakeActual">
        select hwsa.*
        from mt_eo me,
             mt_material_lot mml,
             hme_wip_stocktake_actual hwsa
        where me.eo_id in
        <foreach collection="eoIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and mml.material_lot_code = me.IDENTIFICATION
        and mml.TENANT_ID = #{tenantId}
        and hwsa.stocktake_id = #{stocktakeId}
        and hwsa.ATTRIBUTE1 = mml.material_lot_id
    </select>
</mapper>