<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.general.infra.mapper.MtEventRequestTypeMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.general.domain.entity.MtEventRequestType">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="REQUEST_TYPE_ID" property="requestTypeId" jdbcType="VARCHAR"/>
        <result column="REQUEST_TYPE_CODE" property="requestTypeCode" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="propertyLimitEventGroupTypeQuery" resultType="java.lang.String">
        <bind name="locale" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        t.REQUEST_TYPE_ID
        FROM
        mt_event_request_type t
        INNER JOIN mt_event_request_type_tl tl ON t.REQUEST_TYPE_ID = tl.REQUEST_TYPE_ID
        AND tl.LANG = #{locale}
        WHERE 1=1
        AND t.TENANT_ID = ${tenantId}
        <if test="dto.requestTypeCode != null">
            AND t.REQUEST_TYPE_CODE = #{dto.requestTypeCode}
        </if>
        <if test="dto.description != null">
            AND tl.DESCRIPTION LIKE concat('%', concat( #{dto.description},'%'))
        </if>
        <if test="dto.enableFlag != null">
            AND t.ENABLE_FLAG = #{dto.enableFlag}
        </if>
    </select>

    <select id="selectByIdsCustom" resultMap="BaseResultMap">
        <bind name="locale" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        t1.REQUEST_TYPE_ID,
        t1.REQUEST_TYPE_CODE,
        t2.DESCRIPTION,
        t1.ENABLE_FLAG,
        t1.CID,
        t1.OBJECT_VERSION_NUMBER,
        t1.CREATED_BY,
        t1.CREATION_DATE,
        t1.LAST_UPDATED_BY,
        t1.LAST_UPDATE_DATE
        FROM mt_event_request_type t1
        INNER join mt_event_request_type_tl t2 on t1.REQUEST_TYPE_ID=t2.REQUEST_TYPE_ID
        and t2.LANG=#{locale}
        WHERE 1=1
        AND t1.TENANT_ID = ${tenantId}
        AND t1.REQUEST_TYPE_ID IN
        <foreach collection="eventRequestTypeIds" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>