<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.general.infra.mapper.MtTagGroupHisMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.general.domain.entity.MtTagGroupHis">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="TAG_GROUP_HIS_ID" property="tagGroupHisId" jdbcType="VARCHAR"/>
        <result column="TAG_GROUP_ID" property="tagGroupId" jdbcType="VARCHAR"/>
        <result column="TAG_GROUP_CODE" property="tagGroupCode" jdbcType="VARCHAR"/>
        <result column="TAG_GROUP_DESCRIPTION" property="tagGroupDescription" jdbcType="VARCHAR"/>
        <result column="TAG_GROUP_TYPE" property="tagGroupType" jdbcType="VARCHAR"/>
        <result column="SOURCE_GROUP_ID" property="sourceGroupId" jdbcType="VARCHAR"/>
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="COLLECTION_TIME_CONTROL" property="collectionTimeControl" jdbcType="VARCHAR"/>
        <result column="USER_VERIFICATION" property="userVerification" jdbcType="VARCHAR"/>
        <result column="EVENT_ID" property="eventId" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="DtoResultMap" type="tarzan.general.api.dto.MtTagGroupHisDTO">
        <result column="TAG_GROUP_HIS_ID" property="tagGroupHisId" jdbcType="VARCHAR"/>
        <result column="TAG_GROUP_ID" property="tagGroupId" jdbcType="VARCHAR"/>
        <result column="TAG_GROUP_CODE" property="tagGroupCode" jdbcType="VARCHAR"/>
        <result column="TAG_GROUP_DESCRIPTION" property="tagGroupDescription" jdbcType="VARCHAR"/>
        <result column="TAG_GROUP_TYPE" property="tagGroupType" jdbcType="VARCHAR"/>
        <result column="SOURCE_GROUP_ID" property="sourceGroupId" jdbcType="VARCHAR"/>
        <result column="SOURCE_GROUP_CODE" property="sourceGroupCode" jdbcType="VARCHAR"/>
        <result column="SOURCE_GROUP_DESCRIPTION" property="sourceGroupDescription" jdbcType="VARCHAR"/>
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="COLLECTION_TIME_CONTROL" property="collectionTimeControl" jdbcType="VARCHAR"/>
        <result column="USER_VERIFICATION" property="userVerification" jdbcType="VARCHAR"/>
        <result column="EVENT_ID" property="eventId" jdbcType="VARCHAR"/>
        <result column="EVENT_BY" property="eventBy" jdbcType="DECIMAL"/>
        <result column="EVENT_TIME" property="eventTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryTagGroupHisForUi" resultMap="DtoResultMap">
        <bind name="locale" value="@org.hzero.core.helper.LanguageHelper@language()"/>
        select
        mtgh.TAG_GROUP_HIS_ID,
        mtgh.TAG_GROUP_ID,
        mtgh.TAG_GROUP_CODE,
        mtgh.TAG_GROUP_DESCRIPTION,
        mtgh.TAG_GROUP_TYPE,
        mtgh.SOURCE_GROUP_ID,
        mtg.TAG_GROUP_CODE SOURCE_GROUP_CODE,
        mtgt.TAG_GROUP_DESCRIPTION SOURCE_GROUP_DESCRIPTION,
        mtgh.BUSINESS_TYPE,
        mtgh.STATUS,
        mtgh.COLLECTION_TIME_CONTROL,
        mtgh.USER_VERIFICATION,
        mtgh.EVENT_ID,
        me.EVENT_BY,
        me.EVENT_TIME
        from mt_tag_group_his mtgh
        left join mt_tag_group mtg on mtgh.TAG_GROUP_ID = mtg.TAG_GROUP_ID and mtg.TENANT_ID = ${tenantId}
        left join mt_tag_group_tl mtgt on mtg.TAG_GROUP_ID = mtgt.TAG_GROUP_ID and mtgt.LANG = #{locale}
        join mt_event me on mtgh.EVENT_ID = me.EVENT_ID and mtg.TENANT_ID = ${tenantId}
        where
        mtgh.TENANT_ID = ${tenantId}
        and mtgh.TAG_GROUP_ID = #{dto.tagGroupId}
        <if test="dto.startTime != null">
            and me.EVENT_TIME &gt;= DATE_FORMAT(#{dto.startTime},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="dto.endTime != null">
            and me.EVENT_TIME &lt;= DATE_FORMAT(#{dto.endTime},'%Y-%m-%d %H:%i:%S')
        </if>
    </select>

    <select id="selectRecent" resultType="tarzan.general.domain.vo.MtTagGroupHisVO">
         SELECT
            his.TAG_GROUP_HIS_ID tagGroupHisId,
            his.EVENT_ID eventId
        FROM
            mt_tag_group_his his
        WHERE
            his.TAG_GROUP_ID= #{tagGroupId}
            and his.TENANT_ID = #{tenantId}
        ORDER BY
            CAST( his.TAG_GROUP_HIS_ID AS DECIMAL ( 36 ) ) DESC
            LIMIT 1
    </select>
</mapper>