<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.general.infra.mapper.MtTagGroupAssignMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.general.domain.entity.MtTagGroupAssign">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="TAG_GROUP_ASSIGN_ID" property="tagGroupAssignId" jdbcType="VARCHAR"/>
        <result column="TAG_GROUP_ID" property="tagGroupId" jdbcType="VARCHAR"/>
        <result column="SERIAL_NUMBER" property="serialNumber" jdbcType="DECIMAL"/>
        <result column="TAG_ID" property="tagId" jdbcType="VARCHAR"/>
        <result column="COLLECTION_METHOD" property="collectionMethod" jdbcType="VARCHAR"/>
        <result column="VALUE_ALLOW_MISSING" property="valueAllowMissing" jdbcType="VARCHAR"/>
        <result column="TRUE_VALUE" property="trueValue" jdbcType="VARCHAR"/>
        <result column="FALSE_VALUE" property="falseValue" jdbcType="VARCHAR"/>
        <result column="MINIMUM_VALUE" property="minimumValue" jdbcType="DECIMAL"/>
        <result column="MAXIMAL_VALUE" property="maximalValue" jdbcType="DECIMAL"/>
        <result column="UNIT" property="unit" jdbcType="VARCHAR"/>
        <result column="MANDATORY_NUM" property="mandatoryNum" jdbcType="DECIMAL"/>
        <result column="OPTIONAL_NUM" property="optionalNum" jdbcType="DECIMAL"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="DtoResultMap" type="tarzan.general.api.dto.MtTagGroupAssignDTO">
        <result column="TAG_GROUP_ASSIGN_ID" property="tagGroupAssignId" jdbcType="VARCHAR"/>
        <result column="SERIAL_NUMBER" property="serialNumber" jdbcType="DECIMAL"/>
        <result column="TAG_ID" property="tagId" jdbcType="VARCHAR"/>
        <result column="TAG_CODE" property="tagCode" jdbcType="VARCHAR"/>
        <result column="TAG_DESCRIPTION" property="tagDescription" jdbcType="VARCHAR"/>
        <result column="VALUE_TYPE" property="valueType" jdbcType="VARCHAR"/>
        <result column="COLLECTION_METHOD" property="collectionMethod" jdbcType="VARCHAR"/>
        <result column="VALUE_ALLOW_MISSING" property="valueAllowMissing" jdbcType="VARCHAR"/>
        <result column="TRUE_VALUE" property="trueValue" jdbcType="VARCHAR"/>
        <result column="FALSE_VALUE" property="falseValue" jdbcType="VARCHAR"/>
        <result column="MINIMUM_VALUE" property="minimumValue" jdbcType="DECIMAL"/>
        <result column="MAXIMAL_VALUE" property="maximalValue" jdbcType="DECIMAL"/>
        <result column="UNIT" property="unit" jdbcType="VARCHAR"/>
        <result column="MANDATORY_NUM" property="mandatoryNum" jdbcType="DECIMAL"/>
        <result column="OPTIONAL_NUM" property="optionalNum" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="queryTagGroupAssignForUi" resultMap="DtoResultMap">
        <bind name="locale" value="@org.hzero.core.helper.LanguageHelper@language()"/>
        select
        mtga.TAG_GROUP_ASSIGN_ID,
        mtga.SERIAL_NUMBER,
        mt.TAG_ID,
        mt.TAG_CODE,
        mtt.TAG_DESCRIPTION,
        mt.VALUE_TYPE,
        mt.ENABLE_FLAG,
        mtga.COLLECTION_METHOD,
        mtga.VALUE_ALLOW_MISSING,
        mtga.TRUE_VALUE,
        mtga.FALSE_VALUE,
        mtga.MINIMUM_VALUE,
        mtga.MAXIMAL_VALUE,
        mtga.UNIT,
        mtga.MANDATORY_NUM,
        mtga.OPTIONAL_NUM
        from mt_tag_group_assign mtga
        join mt_tag mt on mtga.TAG_ID = mt.TAG_ID
        join mt_tag_tl mtt on mt.TAG_ID = mtt.TAG_ID and mtt.LANG = #{locale}
        where mtga.TENANT_ID = ${tenantId}
        and mtga.TAG_GROUP_ID = #{dto.tagGroupId}
        <if test="dto.tagCode!=null">
            and mt.TAG_CODE like CONCAT('%', #{dto.tagCode}, '%')
        </if>
        <if test="dto.tagDescription!=null">
            and mt.TAG_DESCRIPTION like CONCAT('%', #{dto.tagDescription}, '%')
        </if>
    </select>

    <select id="selectForEmptyString" resultType="java.lang.String">
        select t.TAG_GROUP_ASSIGN_ID
        from mt_tag_group_assign t
        where t.TENANT_ID = ${tenantId}
        <if test="dto.tagGroupId!=null and dto.tagGroupId!=''">
            and t.TAG_GROUP_ID=#{dto.tagGroupId}
        </if>
        <if test="dto.tagId!=null and dto.tagId!=''">
            and t.TAG_ID=#{dto.tagId}
        </if>
        <if test="dto.serialNumber!=null">
            and t.SERIAL_NUMBER=#{dto.serialNumber}
        </if>
        <if test="dto.collectionMethod!=null and dto.collectionMethod!=''">
            and t.COLLECTION_METHOD=#{dto.collectionMethod}
        </if>
        <if test="dto.valueAllowMissing!=null and dto.valueAllowMissing!=''">
            and t.VALUE_ALLOW_MISSING=#{dto.valueAllowMissing}
        </if>
        <if test="dto.unit!=null and dto.unit!=''">
            and t.UNIT=#{dto.unit}
        </if>
        <if test="dto.trueValue!=null and dto.trueValue!=''">
            and t.TRUE_VALUE=#{dto.trueValue}
        </if>
        <if test="dto.falseValue!=null and dto.falseValue!=''">
            and t.FALSE_VALUE=#{dto.falseValue}
        </if>
        <if test="dto.minimumValue!=null">
            and t.MINIMUM_VALUE=#{dto.minimumValue}
        </if>
        <if test="dto.maximalValue!=null">
            and t.MAXIMAL_VALUE=#{dto.maximalValue}
        </if>
        <if test="dto.mandatoryNum!=null">
            and t.MANDATORY_NUM=#{dto.mandatoryNum}
        </if>
        <if test="dto.optionalNum!=null">
            and t.OPTIONAL_NUM=#{dto.optionalNum}
        </if>
    </select>

    <update id="myUpdateByPrimaryKey">
        update mt_tag_group_assign
        set object_version_number = object_version_number + 1,
            last_updated_by = #{userId},
            last_update_date = CURRENT_TIMESTAMP,
            serial_number = #{dto.serialNumber},
            collection_method = #{dto.collectionMethod},
            value_allow_missing = #{dto.valueAllowMissing},
            true_value = #{dto.trueValue},
            false_value = #{dto.falseValue},
            minimum_value = #{dto.minimumValue},
            maximal_value = #{dto.maximalValue},
            unit = #{dto.unit},
            mandatory_num = #{dto.mandatoryNum},
            optional_num = #{dto.optionalNum}
        where
            tag_group_assign_id = #{dto.tagGroupAssignId}
            AND tenant_id = #{tenantId}
    </update>
</mapper>