<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.modeling.infra.mapper.MtModEnterpriseMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.modeling.domain.entity.MtModEnterprise">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="ENTERPRISE_ID" property="enterpriseId" jdbcType="VARCHAR"/>
        <result column="ENTERPRISE_CODE" property="enterpriseCode" jdbcType="VARCHAR"/>
        <result column="ENTERPRISE_NAME" property="enterpriseName" jdbcType="VARCHAR"/>
        <result column="ENTERPRISE_SHORT_NAME" property="enterpriseShortName" jdbcType="VARCHAR"/>
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectByIdsCustom" resultMap="BaseResultMap">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        b.TENANT_ID,
        b.ENTERPRISE_ID,
        b.ENTERPRISE_CODE,
        l.ENTERPRISE_NAME,
        b.ENTERPRISE_SHORT_NAME,
        b.ENABLE_FLAG,
        b.CID
        FROM
        mt_mod_enterprise b
        INNER JOIN mt_mod_enterprise_tl l ON l.ENTERPRISE_ID = b.ENTERPRISE_ID
        AND L.LANG=#{lang}
        WHERE
        b.TENANT_ID = #{tenantId}
        and b.ENTERPRISE_ID IN
        <foreach collection="enterPriseIds" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </select>
</mapper>