<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.modeling.infra.mapper.MtModAreaDistributionMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.modeling.domain.entity.MtModAreaDistribution">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="AREA_DISTRIBUTION_ID" property="areaDistributionId" jdbcType="VARCHAR"/>
        <result column="AREA_ID" property="areaId" jdbcType="VARCHAR"/>
        <result column="DISTRIBUTION_MODE" property="distributionMode" jdbcType="VARCHAR"/>
        <result column="PULL_TIME_INTERVAL_FLAG" property="pullTimeIntervalFlag" jdbcType="VARCHAR"/>
        <result column="DISTRIBUTION_CYCLE" property="distributionCycle" jdbcType="DECIMAL"/>
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR"/>
        <result column="INSTRUCT_CREATED_BY_EO" property="instructCreatedByEo" jdbcType="VARCHAR"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>