<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tarzan.modeling.infra.mapper.MtSupplierMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="tarzan.modeling.domain.entity.MtSupplier">
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL"/>
        <result column="SUPPLIER_ID" property="supplierId" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_CODE" property="supplierCode" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_NAME" property="supplierName" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_NAME_ALT" property="supplierNameAlt" jdbcType="VARCHAR"/>
        <result column="DATE_FROM" property="dateFrom" jdbcType="TIMESTAMP"/>
        <result column="DATE_TO" property="dateTo" jdbcType="TIMESTAMP"/>
        <result column="SUPPLIER_TYPE" property="supplierType" jdbcType="VARCHAR"/>
        <result column="SOURCE_IDENTIFICATION_ID" property="sourceIdentificationId" jdbcType="DECIMAL"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="batchSelectSupplierByIdList" resultMap="BaseResultMap">
        <bind name="locale" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        select *
        from mt_supplier s
        join mt_supplier_tl tl on s.SUPPLIER_ID = tl.SUPPLIER_ID and tl.LANG = #{locale}
        where s.TENANT_ID = #{tenantId}
        and s.SUPPLIER_ID in
        <foreach collection="supplierIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="querySupplierByCode" resultMap="BaseResultMap">
        select * from mt_supplier
        where TENANT_ID = #{tenantId}
        and SUPPLIER_CODE in
        <foreach collection="supplierCodeList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="querySupplierIds" resultMap="BaseResultMap" fetchSize="5000">
        select *
        from mt_supplier s
        where s.TENANT_ID = ${tenantId}
        <if test="tenantId!=null">
            and ${supplierIds}
        </if>
        <if test="supplierIds==null">
            and 1=-1
        </if>
    </select>
</mapper>